
@{
	ViewBag.Title = "IAU-BSC | Error";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="justify-content: center; align-items: center; display: flex; height: 84vh;">
	<div>
		<h2 style="text-align:center;font-size:70px">😥</h2>
		<h1 style="text-align:center; color: #4f693a;">@((Request.Cookies["lang"]?.Value == "ar")? "كان هناك خطأ في معالجة طلبك ، يرجى المحاولة مرة أخرى في وقت لاحق" : "There was an error while processing your request please try again later")</h1>
	</div>
</div>

