@model IAUAdmin.DTO.Entity.MainServiceDTO
@{
	ViewBag.Title = "Deactive Service";
	ViewBag.pTitle = "Deactive Service";
	ViewBag.pageTitle = "Main Service";
	ViewBag.arTitle     = "تعطيل خدمة";
	ViewBag.arpageTitle = "تعطيل خدمة";
	ViewBag.arpTitle = "الخدمات الرئيسية";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<h2 key="t-deactive" >Deactive</h2>

<div class="row">
	@using (Html.BeginForm("Deactive", "MainService", new { Id = Model.Main_Services_ID, x = "" }, FormMethod.Post))
	{
		<div class="alert alert-danger dt-center p-14" style="text-align:center;width:100%" key="t-deactive-mainservice" >
			Do u want to deactive this User?
		</div>

		<button type="submit" key="t-save" class="btn btn-primary mr-1 waves-effect waves-light">Save Changes</button>
		@Html.ActionLink("Cancel", "Home", null, new { @class = "btn btn-secondary waves-effect", @key = "t-cancel" })
	}
</div>
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>
