################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/IAU.DTO/Entity/FollowRequest_DTO.cs
/.vs/IAU_MVC/v16/Server/sqlite3/db.lock
/Skote MVC/Skote/node_modules