@using IAUAdmin.DTO.Entity;
@using System.Configuration;

@{
	ViewBag.Title = "Home Page";
	ViewBag.pTitle = "Home";
	//ViewBag.pageTitle = "Jobs";
	ViewBag.arTitle = "الصفحة الرئيسية";
	ViewBag.arpTitle = "الصفحة الرئيسية";
	//ViewBag.arpageTitle = "";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
<!--end::Fonts-->
<link rel="shortcut icon" href="~/dashboard/assets/media/logos/fav.png" />
<link href="~/dashboard/assets/plugins/custom/fullcalendar/fullcalendar.bundle.rtl.css" rel="stylesheet" type="text/css" />

<link href="~/dashboard/assets/plugins/global/plugins.bundle.rtl.css" rel="stylesheet" type="text/css" />
<link href="~/dashboard/assets/plugins/custom/prismjs/prismjs.bundle.rtl.css" rel="stylesheet" type="text/css" />
@{
	var lang = Request.Cookies["lang"].Value;
}
@if (lang == "ar")
{
	<link href="~/dashboard/assets/css/style.bundle.rtl.css" rel="stylesheet" type="text/css" />
}
else
{
	<link href="~/dashboard/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
}

<link href="~/dashboard/assets/css/themes/layout/header/base/light.rtl.css" rel="stylesheet" type="text/css" />
<link href="~/dashboard/assets/css/themes/layout/header/menu/light.rtl.css" rel="stylesheet" type="text/css" />
<link href="~/dashboard/assets/css/themes/layout/brand/dark.rtl.css" rel="stylesheet" type="text/css" />
<link href="~/dashboard/assets/css/themes/layout/aside/dark.rtl.css" rel="stylesheet" type="text/css" />
<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<style>
	.img-serviceType {
		color: transparent;
		background: transparent !important;
	}

	.servicename {
		color: #0a1332 !important
	}

	i.fa.fa-genderless {
		color: black !important;
	}

	.count-data, .loc-count {
		font-size: 20px;
		color: #0a1332 !important;
		font-weight: bold !important;
	}

	.loc-count {
		padding: 17px 13px !important;
		width: 63px !important;
		font-size: 1rem;
	}
	.panel-home{
		min-width:400px;
	}
	
</style>
<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<div class="row justify-content-around">
	<div class="col-4 panel-home">
		<div class="contents-custom">
			<div class="h-100">
				<div class="d-flex flex-column flex-center">
					<div class="bgi-no-repeat bgi-size-cover rounded min-h-180px w-100" style="background-image: url(../../dashboard/assets/media/stock-600x400/img-70.jpg )"></div>
					<a href="#" class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1">نظام خدمة المستفيدين</a>
				</div>
				<div class="pt-1">
					@{
						var url = ConfigurationManager.AppSettings["DomainName"].ToString();
					}
					@foreach (var i in ViewBag.ServiceType as ICollection<ServiceTypeDTO>)
					{
						<div class="d-flex align-items-center pb-9">
							<div class="symbol symbol-45 symbol-light mr-4">
								<span class="symbol-label img-serviceType">
									<span class="svg-icon svg-icon-2x svg-icon-dark-50">
										<img src=@(url + "/" + i.Image_Path) height="36px" />
									</span>
								</span>
							</div>
							<div class="d-flex flex-column flex-grow-1">
								<a href="#" class="text-dark-75 text-hover-primary servicename mb-1 font-size-lg font-weight-bolder">@(lang == "ar" ? i.Service_Type_Name_AR : i.Service_Type_Name_EN)</a>
							</div>
							<span class="font-weight-bolder label label-xl label-inline px-3 py-5 min-w-45px en-font">@(i.Service_Type_ID + 20)</span>
						</div>
					}
				</div>
				<!--end::Body-->
			</div>
		</div>
	</div>
	<div class="col-4 panel-home">
		<div class="contents-custom">
			<div class="card-header align-items-center border-0 mt-4 px-0">
				<h3 class="card-title align-items-start flex-column">
					<span class="font-weight-bolder text-dark">رقم الطلب</span>
				</h3>
				<br><br>
				<p dir="ltr">
					@foreach (var i in new string[13])
					{
						<input class="inputs" type="text" maxlength="1" style="width: 16px;" />
					}
				</p>
			</div>
			<div class="card-body pt-4">
				<div class="timeline timeline-6 mt-3">
					<div class="timeline-item align-items-start">
						<div class="timeline-label font-weight-bolder text-dark-75 font-size-lg en-font">2021-01-01</div>
						<div class="timeline-badge">
							<i class="fa fa-genderless text-warning icon-xl"></i>
						</div>
						<div class="font-weight-mormal font-size-lg timeline-content text-muted pl-3">ايفاد الطلب</div>
					</div>
					<div class="timeline-item align-items-start">
						<div class="timeline-label font-weight-bolder text-dark-75 font-size-lg en-font">2021-01-01</div>
						<div class="timeline-badge">
							<i class="fa fa-genderless text-info icon-xl"></i>
						</div>
						<div class="font-weight-mormal font-size-lg timeline-content text-muted pl-3">فرز الطلب</div>
					</div>
					<div class="timeline-item align-items-start">
						<div class="timeline-label font-weight-bolder text-dark-75 font-size-lg en-font">2021-01-01</div>
						<div class="timeline-badge">
							<i class="fa fa-genderless text-success icon-xl"></i>
						</div>
						<div class="font-weight-mormal font-size-lg timeline-content text-muted pl-3">معالجة الطلب</div>
					</div>
					<div class="timeline-item align-items-start">
						<div class="timeline-label font-weight-bolder text-dark-75 font-size-lg en-font">2021-01-01</div>
						<div class="timeline-badge">
							<i class="fa fa-genderless text-primary icon-xl"></i>
						</div>
						<div class="font-weight-mormal font-size-lg timeline-content text-muted pl-3">ارسال الطلب</div>
					</div>
					<div class="timeline-item align-items-start">
						<div class="timeline-label font-weight-bolder text-dark-75 font-size-lg en-font">2021-01-01</div>
						<div class="timeline-badge">
							<i class="fa fa-genderless text-dark icon-xl"></i>
						</div>
						<div class="font-weight-mormal font-size-lg timeline-content text-muted pl-3">تسليم الطلب</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-4 panel-home">
		<div class="contents-custom">
			<div class="card-header border-0 pt-5">
				<div class="card-title">
					<div class="card-label">
						<div class="font-weight-bolder" key="t-statistics">التقارير</div>
					</div>
				</div>
			</div>
			<div class="card-body d-flex flex-column">
				<div class="flex-grow-1">
					@*<div id="kt_mixed_widget_16_chart" style="height: 200px"></div>*@
				</div>
				<div class="mt-10 mb-5">
					<div class="row row-paddingless mb-10">
						<div class="col">
							<div class="d-flex align-items-center mr-2">
								<div class="symbol symbol-45 symbol-light-info mr-4 flex-shrink-0">
									<i class="fas fa-home" style="background:#EEE5FF;color:#8950FC"></i>
								</div>
								<div>
									<div class="font-size-h4 text-dark-75 font-weight-bolder count-data  en-font">2034</div>
									<div class="font-size-sm text-dark font-weight-bold mt-1">الفئات</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="d-flex align-items-center mr-2">
								<div class="symbol symbol-45 symbol-light-danger mr-4 flex-shrink-0">
									<i class="fas fa-users" style="color: #E04758;background: #FFE2E5;"></i>
								</div>
								<div>
									<div class="font-size-h4 text-dark-75 font-weight-bolder count-data en-font">706</div>
									<div class="font-size-sm text-dark font-weight-bold mt-1">المستخدمين</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row row-paddingless">
						<div class="col">
							<div class="d-flex align-items-center mr-2">
								<div class="symbol symbol-45 symbol-light-success mr-4 flex-shrink-0">
									<i class="fas fa-book-open" style="color: #1BC5BD;background: #C9F7F5;"></i>
								</div>
								<div>
									<div class="font-size-h4 text-dark-75 font-weight-bolder count-data en-font">490004</div>
									<div class="font-size-sm text-dark font-weight-bold mt-1">الطلبات</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="d-flex align-items-center mr-2">
								<div class="symbol symbol-45 symbol-light-primary mr-4 flex-shrink-0">
									<i class="fas fa-network-wired" style="color: #3699FF;background: #E1F0FF;"></i>
								</div>
								<div>
									<div class="font-size-h4 text-dark-75 font-weight-bolder count-data en-font">3650</div>
									<div class="font-size-sm text-dark font-weight-bold mt-1">الفروع</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-4 panel-home">
		<div class="contents-custom">
			<div class="card-header border-0 pt-5">
				<h3 class="card-title font-weight-bolder" key="t-location">المواقع</h3>
			</div>
			<div class="card-body d-flex flex-column">
				<div class="mt-5">
					<div class="d-flex align-items-center justify-content-between mb-5">
						<div class="d-flex align-items-center mr-2">
							<i class="fas fa-map-marker-alt"></i>
							<div>
								<a href="#" class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">الراكة</a>
							</div>
						</div>
						<div class="label label-light label-inline font-weight-bold text-dark-50 py-4 px-3 font-size-base  en-font loc-count">828</div>
					</div>
					<div class="d-flex align-items-center justify-content-between mb-5">
						<div class="d-flex align-items-center mr-2">
							<i class="fas fa-map-marker-alt"></i>
							<div>
								<a href="#" class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">الريان</a>
							</div>
						</div>
						<div class="label label-light label-inline font-weight-bold text-dark-50 py-4 px-3 font-size-base en-font loc-count">45</div>
					</div>
					<div class="d-flex align-items-center justify-content-between mb-5">
						<div class="d-flex align-items-center mr-2">
							<i class="fas fa-map-marker-alt"></i>
							<div>
								<a href="#" class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">القطيف</a>
							</div>
						</div>
						<div class="label label-light label-inline font-weight-bold text-dark-50 py-4 px-3 font-size-base  en-font loc-count">242</div>
					</div>

					<div class="d-flex align-items-center justify-content-between mb-5">
						<div class="d-flex align-items-center mr-2">
							<i class="fas fa-map-marker-alt"></i>
							<div>
								<a href="#" class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder">الدمام</a>
							</div>
						</div>
						<div class="label label-light label-inline font-weight-bold text-dark-50 py-4 px-3 font-size-base en-font loc-count">428</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	i.fas.fa-map-marker-alt {
		color: #d94a4a;
		font-size: 26px;
		/* padding: 0 28px; */
		background: #e8f0f8;
		border-radius: 8px;
		height: 51px;
		display: flex;
		width: 52px;
		justify-content: center;
		align-items: center;
		margin: 0 9px;
	}

	.symbol i {
		height: 50px;
		width: 49px;
		border-radius: 9px;
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.contents-custom {
		border-radius: 19px;
		background-color: white;
		padding: 30px;
		min-height: 708px !important;
		/*height: 708px;*/
	}

	.col-4, .col {
		margin: 29px 0;
	}

	.card-title {
		text-align: start
	}
</style>
<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="~/dashboard/assets/plugins/global/plugins.bundle.js"></script>
<script src="~/dashboard/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="~/dashboard/assets/js/scripts.bundle.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>
<!--end::Global Theme Bundle-->
<!--begin::Page Vendors(used by this page)-->
<script src="~/dashboard/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->
<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>

<script src="~/assets/js/app.js"></script>
<!-- App js -->
<script src="~/dashboard/assets/js/pages/widgets.js"></script>

<script>
	var currentUrl = window.location.href;
	var url = new URL(currentUrl);
	var phone = url.searchParams.get("phone");

	function order() {
		//window.location.href = "order.html?phone=" + phone;
	}
</script>
<script>
	$(".inputs").keyup(function () {
		if (this.value.length == this.maxLength) {
			$(this).next('.inputs').focus();
		}
	});
</script>
