
@{
    ViewBag.Title = "Error";
    ViewBag.pTitle = "Error";
    ViewBag.pageTitle = "Users";
    ViewBag.arTitle = "خطاء";
    ViewBag.arpageTitle = "خطاء";
    ViewBag.arpTitle = "خطاء";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="justify-content: center; align-items: center; display: flex; height: 70vh;">
    <div>
        <h2 style="text-align:center;font-size:70px">😟</h2>
        <h1 style="text-align:center; color: #4f693a;">@((Request.Cookies["lang"]?.Value == "ar")? "كان هناك خطأ في معالجة طلبك ، يرجى المحاولة مرة أخرى في وقت لاحق" : "There was an error while processing your request please try again later")</h1>
    </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>
