
@{
    ViewBag.Title = "IAU-BSC | Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Design/CSS/contactus.css" rel="stylesheet" />
<style>
    th, td {
        color: white;
        text-align: center;
    }
</style>
@{
    var isar = Request.Cookies["lang"]?.Value == "ar";
}
<div style="justify-content: center; align-items: center; display: flex; height: 84vh;">
    <table class="table">
        <tr>
            <th>
                @(
                isar?
                "العنوان" :
                "Address"
                )
            </th>
            <td>
                @(
                isar?
                "المملكة العربية السعودية - الراكة" :
                "Saudi Arabia - Rakah"
                )
            </td>
        </tr>
        <tr>
            <th>
                @(
                isar?
                "هاتف" :
                "Phone"
                )
            </th>
            <td>
                <a href="tel:0133333322"></a>
            </td>
        </tr>
        <tr>
            <th>
                @(
                isar?
                "البريد الالكتروني" :
                "Email"
                )
            </th>
            <td>
                <a href="mailto:iau-bsc@iau.edu.sa">iau-bsc@iau.edu.sa</a>
            </td>
        </tr>
    </table>
</div>
