
@{
    ViewBag.Title = "IAU-BSC | Main";
}
<div class="main-page">
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-12 collapse-container">
                <a class="btn btn-success" location="loc1">
                    <div class="row">
                        <p class="col-md-10">
                            About the IAU-BSC:
                        </p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-12 collapse-container">
                <a class="btn btn-success" location="loc2">
                    <div class="row">
                        <p class="col-md-10">
                            &#64;IAU-BSC New answers, NEW Ideas,
                            New Opportunities:
                        </p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-12 collapse-container">
                <a class="btn btn-success" location="loc3">
                    <div class="row">
                        <p class="col-md-10">
                            Mission, Vision and Values:
                        </p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-12 collapse-container">
                <a class="btn btn-success" location="loc4">
                    <div class="row">
                        <p class="col-md-10">
                            The IAU-BSC Scope of Services and operational system:
                        </p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-12 collapse-container">
                <a class="btn btn-success" location="loc5">
                    <div class="row">
                        <p class="col-md-10">
                            The IAU-BSC Stages of Service Delivery:
                        </p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12 collapse-container">
                <a class="btn btn-success" href="/Home">
                    <div class="row">
                        <p class="col-md-10">
                            Submit/ Follow-up request:
                        </p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-12 collapse-container">
                <a class="btn btn-success" location="loc6">
                    <div class="row">
                        <p class="col-md-10">
                            Contact Us:
                        </p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-8 content" style="background-color: #fff; margin-top: 6px;">
            <div class="col-md-12 display-1 loc1" style="margin-top:25px;display:none;    background-color: rgb(255, 255, 255);padding: 20px 12px;">
                <blockquote style="color: #0a1332; font-size: 16px; margin: 0px 0px 50px;">
                    The Service Delivery Sector for the beneficiaries of the IAU University is established under the
                    name of the Beneficiaries Service Center (IAU-BSC), with the intention to transfer all deliveries
                    of services provided by the IAU University to a central administrative entity with legal
                    authorities as well as managerial and financial disposition.
                    <br />
                    <br />
                    The IAU-BSC is designed and operated to provide all available services to its potential users.
                    Two allied units will be established to improve the types and quality of the services and its
                    delivery system as well as to locally and regionally guide and expand the use of the IAU assets
                    and build high capabilities in investment.
                    <br />
                    <br />
                    The IAU-BSC ensure the delivery of the highest levels of service to the IAU affiliated persons
                    and extend the use of these services to cover all legitimate habitants in the eastern region
                    with eased terms and conditions..
                    <br />
                    <br />
                    All procedures will be provided via the IAU-BSC center in the IAU campus or through the IAUBSC application “Mustafid” that can be reached using its related homepage &#64;IAU-BSC in the
                    IAU official website using either computer interface or smartphones.
                </blockquote>
                @*<p style="color: #0a1332; font-size: 16px; font-weight:bold; text-align:right">
                        Dr. Saleh bin Ali Al-Rashed
                    </p>
                    <p style="color: #0a1332; font-size: 16px;text-align:right;padding-right:30px;">
                        IAU’s Vice-President
                    </p>*@
            </div>
            <div class="col-md-12 New-Idea display-2 loc2" style="display:none;">
                <div class="AboutIAU" style="padding-top: 20px; margin-bottom:0">
                    <p>
                        The design proposal and operational system is created by the Inclusive Design UnitGreen Design Section. It adopts a creative problem solving (CPS) approach from the
                        pinpointing of the vision, mission and values of the IAU-BSC, to the smallest design
                        and operational details. The purpose is to identify and expand the prospect of the
                        center to fit the IAU strategic plan aligned with the KSA Vision 2030, to reveal fresh
                        perspectives and to discover innovative solutions for this center so that it conveys its
                        message and reaches its goals.
                    </p>
                    <p>
                        Accordingly, the IAU-BSC, goes beyond its role as a mere service delivery agent to
                        adopt an inclusive approach to principles and appropriate operations to assist the
                        university in achieving its strategic plan.
                        The IAU-BSC center’s activities, policies and practices reflect the university
                        regulatory principles, policies and Practices.
                    </p>
                </div>

                <div class="Objective">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Therefore the IAU-BSC initially seeks to comply with 3 IAU strategic goals that are
                                aligned with the KSA Vision 2030 :
                            </p>
                        </div>
                        <div class="col-md-12">
                            <ol style="padding:0 120px">
                                <li>To <u>Sustain</u> IAU campus environment</li>
                                <li>
                                    To Build a modern institutional <u>administrative</u> system.
                                </li>
                                <li>To Promote <u>social responsibility</u> and community partnership.</li>
                            </ol>
                        </div>
                        <div class="col-md-12 Objective-count-img">
                            <p>
                                Determining and answering the main focusing questions are the first phase of this
                                process:
                            </p>
                            <img src="~/Design/img/Picture4.jpg" style="width:100%;" />
                        </div>
                        <div class="Objective-question row">
                            <div class="col-md-4">
                                <p style="margin:0">
                                    Question 1:
                                </p>
                                <p>
                                    who are the stakeholders?
                                </p>
                            </div>
                            <div class="col-md-8">
                                <ol>
                                    <li>
                                        University affiliated persons
                                        <br />
                                        <span style="margin-left:70px">(Faculty members- Students- Staff- their families)</span>
                                    </li>
                                    <li>
                                        The Eastern Region communities
                                        <br />
                                        <span style="margin-left:70px">(The Saudi and the GCC Communities- The Expatriates)</span>
                                    </li>
                                    <li>
                                        The Administrative and 3rd level Communication
                                        <br />
                                        <span style="margin-left:70px">(The IAU Unified Database)</span>
                                    </li>
                                </ol>
                            </div>
                            <div class="col-md-4">
                                <p style="margin:0">
                                    Question 2:
                                </p>
                                <p>
                                    What’s in it for each party?
                                </p>
                            </div>
                            <div class="col-md-8">
                                <ol>
                                    <li>
                                        University affiliated persons
                                        <ul>
                                            <li>Insuring the delivery of current services</li>
                                            <li>
                                                Updating and improving current ones
                                            </li>
                                            <li>Investing on creating new services</li>
                                        </ul>
                                    </li>
                                    <li>
                                        The Eastern Region communities
                                        <ul>
                                            <li>
                                                Extending the use of the services to cover the off-campus communities
                                            </li>
                                            <li>
                                                Privatization of IAU services and amenities
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        The Administrative and 3<sup>rd</sup> level Communication
                                        <ul>
                                            <li>
                                                Transparency and inclusivity in IAU managerial functional and communicative state
                                            </li>
                                            <li>
                                                Enrollment of qualified administrative cadres vis-à-vis the IAU strategic plan and 2030 vision
                                            </li>
                                            <li>
                                                Factual assessment of managerial functional and communicative performance
                                            </li>
                                            <li>
                                                Minimizing scarcities (misunderstanding, wrong designation, duplication, overruling, etc.)
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                            <div class="col-md-4">
                                <p style="margin:0">
                                    Question 3:
                                </p>
                                <p>
                                    How can the center reach these goals?
                                </p>
                            </div>
                            <div class="col-md-8">
                                <ol>
                                    <li>
                                        Phase 1
                                        <ul>
                                            <li>
                                                Expanding the use of the IAU Inclusive Database to cover all aspects of managerial communications
                                            </li>
                                            <li>
                                                Building an operational system for the Center as part of the IAU inclusive Database
                                            </li>
                                            <li>
                                                More use of technology, less reliance on conventional service- delivery methods
                                            </li>
                                            <li>
                                                Prepare qualified cadres and decision-makers
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-12 New-Idea loc3" style="display:none;">
                <div class="vision" style="padding-top: 20px;">
                    <p>
                        The vision and mission of the IAU-BSC are defined in line with the vision of the Kingdom of Saudi Arabia 2030 and the strategic plan of the IAU University, which aims to provide distinguished services to its beneficiaries, to develop prominent competences in service patterns, managerial communication and investment and to sustain governance
                    </p>
                    <ul>
                        <li>
                            <b>Vision</b> High-value services and cutting edge service-delivery system for all.
                        </li>
                        <li>
                            <b>Mission</b> The IAU-BSC Center is a leading directorial and organizational center of the
                            Imam AbdulRahman Bin Faisal University. Its main mission is to guarantee the delivery
                            the available services on its seven campuses. The scope of this mission goes beyond this
                            task to create the administrative and organizational system and to train the professional
                            cadre with the intention to improve and to sustain these services, to create innovative
                            ones and to expand the numbers and sectors of the beneficiaries. The IAU-BCS is thus
                            committed to:
                            <ul>
                                <li>Providing top-quality sustainable service-delivery services</li>
                                <li>Training the next generation of professionals to accomplish the center goals</li>
                                <li>Discovering and implementing operational to expand the service outcomes</li>
                                <li>Empowering local and regional communities for enhanced quality of life with variation of services in tune with the 2030 vision via awareness, service, research, technology and innovation</li>
                            </ul>
                        </li>
                        <li>
                            <b>Core Values</b> The IAU-BSC has five basic values that underline the commitments in-built
                            in the center’s mission: Integrity, Commitment, Advocacy, Respect, and Excellence. The
                            basic values express the attitude and the performance of the center’s staff and policy.
                            They are tailored for the center staff, collaborators and the IAU community as the
                            foundation for performance assessment, enrolment and our staff training.
                            <br />
                            <br />
                            The IAU-BSC core values are:
                            <ul>
                                <li>
                                    <b>Reliability:</b> Act with great ethical standards. Abide by the uppermost-specialized procedures. Preserve the expectation and support of all with whom the center engage.
                                </li>
                                <li>
                                    <b>Accountability:</b> Work thoroughly to serve the IAU affiliated persons, their families, and other beneficiaries. Be thrusted by the IAU vision and mission and accomplish the organizational responsibilities.
                                </li>
                                <li>
                                    <b>Efficiency:</b> Operate in a constructive and competent fashion to accomplish predictable and measurable outcomes. Promote a resilient culture of learning and innovation to successfully meet the evolving needs of the IAU beneficiary and off-campus community.
                                </li>
                                <li>
                                    <b>Creativity:</b> Look for the utmost operative answers, adopting innovative tactics and adjusting to existing and future administrative conditions to meet the dynamic and changing needs of the beneficiaries.
                                </li>
                                <li>
                                    <b>Advocacy:</b> Be User-centered by distinguishing, entirely allowing for, and properly advancing the interests of potential users and their needs.
                                </li>
                                <li>
                                    <b>Recognition:</b> Treat all beneficiaries with dignity and respect.
                                </li>
                                <li>
                                    <b>Distinction:</b> Work toward the utmost quality and persistent progress. Be considerate and influential in governance, held responsible for the center’s conducts, willing to assert inaccuracies, and be ardent to adjust them.
                                </li>
                                <li>
                                    <b>Build Bridges:</b> Work collaboratively within our organization and with our external partners to ensure the provision of the best possible standards of services and service-delivery.

                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
                @*<div class="Information-System">
                        <h3>
                            1.5 IAU-BSC Principles of Information System
                        </h3>
                        <p>
                            Incorporated Information System:
                        </p>
                        <ul>
                            <li>
                                A platform or language for the digital and hard communication;
                            </li>
                            <li>Hierarchical and Integrated information system according to the IAU-UCS</li>
                            <li>Spatially connect and reinforce the existing and potential properties of the university</li>
                        </ul>
                        <p>
                            Universally Designed Information System
                        </p>
                        <ul>
                            <li>All design attributes are designed in compliance with the ADA Accessibility guidelines and the Universal off-campus and on- campus user-centered experience</li>
                            <li>A user-friendly system: Easy to understand, locate, easy to approach and easy to use</li>
                            <li>A simple, clear and easily communicated methodology for communication</li>
                            <li>Easily accessible and easy-to-use interface  regardless their personal characteristics and functional abilities</li>
                        </ul>
                        <p>
                            Sustainable Information System
                        </p>
                        <div class="row">
                            <div class="col-md-7" style="text-align:justify">
                                <ul>
                                    <li>
                                        A sustainable system in relation to material, energy saving and costs
                                    </li>
                                    <li>
                                        Consider technology to enhance the system When possible
                                    </li>
                                    <li>
                                        Develop a kit of parts for maximum changeability to accommodate phased implementation and future growth of institution.
                                    </li>
                                    <li>
                                        Intentional flexibility considering the non-static and changeable nature of services types and service Delivery system as regarded to their location (i.e.,
                                    </li>
                                    <li>
                                        the numbers of buildings, facilities) and the administrative Level in charge of providing the services
                                    <li>
                                        A nature that require reconfiguration of information and their coding system
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-5">
                                <img src="~/Design/img/Picture5.png" style="width:100%;position:relative;top: 5%;" />
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="col-md-12 operation-System loc4" style="display:none;">
                <div class="Scope-of-Services">
                    <h3>
                        The IAU-BSC Scope of Services and operational system:
                    </h3>
                    <h3>Scope of Services:</h3>
                    <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                        According to the IAU Unified Coding System (IAU-UCS), the buildings in IAU campuses are
                        defined by their main activities and labeled by the letter and color defining the activity type
                        and the number of the building. The Campus label serves to locate the buildings and is
                        associated to the official building code to determine its location. Accordingly, the building
                        are classified into seven categories as shown in the figure below:
                    </p>
                    <div>
                        <img src="~/Design/img/picture6.png" style="width:100%;background-color:#fff;margin-bottom:50px" />
                    </div>
                    <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">Accordingly, the services provided via the IAU-BSC will be classified under three main sectors that define its goals and work plans:</p>
                    <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                        <ol style="padding: 19px;">
                            <li>
                                <b>Academic sector</b> provides the required support for curricular and extracurricular academic activities in all colleges and academic departments. These services include academic support services, information and communication technology, workshop equipment, specialized activities, to name a few.
                            </li>
                            <li>
                                <b> Administrative sector</b> enables all sorts of communication with all administrative sectors for all IAU on-campus and off-campus beneficiaries. The services include operating human resources, facilities, operational and maintenance services, to name a few.
                            </li>
                            <li>
                                <b>Specialized Services</b> provides IAU affiliated and non-affiliated beneficiaries with all kinds of specialized services that are not included in the academic and administrative sector, including health, sports, housing, training, entertainment. The services are designed to be inclusive and accessible to everyone regardless of their gender, age, abilities and needs.
                            </li>
                        </ol>
                    </p>

                    <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                        As Shown in the figure, the three sectors and their Sub-categories follow the same coding system used in the IAU-UCS, with the exception of the label of the specialized services (S) and the sports sub categories (Sp).
                    </p>
                    <div>
                        <img src="~/Design/img/picture8.png" style="width:100%;background-color:#fff;" />
                    </div>
                </div>
                <div class="Reference-Points m-0">
                    <h3>IAU-BSC Reference Points :</h3>
                    <p>
                        The center receives requests and inquiries from off-campus beneficiaries and on-campus users from the Tawasul website approved by the Ministry of Education. Tawasul was established as an easy mechanism to communicate with His Excellency the Minister of Education, Ministry officials and all sectors.
                    </p>
                    <p>
                        Tawasul is a secure and reliable communication system for those who are unaware of the university communication and service delivery system. Yet, the center provides its direct and timesaving communication system.
                    </p>
                    <p>
                        Thus, beneficiaries can seek the center directly either by filling online official requests on the official website of the center @@IAU-BSC or by visiting the center and filling out an in-person application.
                    </p>
                    <p>
                        This service enables the submission of suggestions, inquiries, complaints and others, to ensure that they arrive from the service of an effective electronic system, and the service enables all beneficiaries to track their posts electronically.
                    </p>
                    <div>
                        <img src="~/Design/img/IAU-BSC ReferencePoints1.png" style="width:100%;background-color:#fff;" />
                    </div>
                    <p>
                        Using both ministerial and university communication channels, the IAU-BSC information system allows the delivery of requests and inquiries to the sector in charge after classifying all sorts of applications under the same six categories found in the Tawasul Site:
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <ol style="color: #c85d32;">
                                <li>Consultation</li>
                                <li>Meeting</li>
                                <li>Complaint</li>
                                <li>Appointment</li>
                            </ol>
                        </div>
                        <div class="col-md-6">
                            <ol start="5" style="color: #c85d32;">
                                <li>Ancident</li>
                                <li>Suggestion</li>
                                <li>Inquiry</li>
                            </ol>
                        </div>
                    </div>

                </div>
                <div style="display: flex; justify-content: center">
                    <img src="~/Design/img/picture9.png" style=" max-width: 100%; height: 233px; background-color: #fff;" />
                </div>
                <div class="Service-Delivery m-0">
                    <h3>
                        IAU-BSC Operational Service:
                    </h3>
                    <p>
                        The Beneficiary Service Center, its operational system “@@IAU-BSC” and its web
                        and mobile applications “Mustafid” are part of the IAU university’s series of
                        projects and initiatives to create inclusive administrative and operational systems
                        that promote the sustainable lifetime of buildings and products as well as the
                        wellbeing and the functional performance of the university community, from
                        their design, simulation, and testing to their ongoing operation and
                        management. The overall project is derived from the IAU Inclusive Database and
                        Unified Coding System. The IAU Inclusive database and unified coding system
                        acknowledge that organizations consist of sets of overlapping systems that are in
                        need of an organized and unified communication system. Subsequently, a fit-forpurpose semi-lattice information system is developed and tested to assist
                        systemic communication adaptable not only to enable navigation behavior of
                        outdoor and indoor settings but also to connect spatial information cues to other
                        selective types of procedural communication (e.g., managerial communication,
                        Projects and documents filing system, Operating system, Maintenance, and
                        Projects & Public Services, Security & Safety Management). The resulting system
                        for the IAU-BSC is thus a sub-division of the overall Information delivery approach
                        that- when mainly referred to as its spatial derivation- can be identified,
                        intertwine, be combined, and cross to different levels of communication
                        complexity depending on the functional purpose of the environmental
                        conversation
                    </p>
                    <div>
                        <img src="~/Design/img/Picture2.png" style="width:100%;background-color:#fff;" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 loc5" style="display:none;">
                @*<img src="~/Design/img/Picture10.png" style="width:100%;background-color:#fff;" />*@
                <p>
                    Each operation is a process of five 5 consecutive stages:
                    <ol style="color: #c85d32;padding:0 50px">
                        <li>Request registration/confirmation</li>
                        <li>
                            Sorting/Coding and dispatching to IAU
                            service provider
                        </li>
                        <li>Processing the request at the service provider</li>
                        <li>Dispatching of processed Request</li>
                        <li>Delivery of Processed Request</li>
                    </ol>
                </p>
                <p>
                    The following diagram illustrates the procedure applicants must pursue to submit their
                    application, get a tracking number for their orders and follow the operation process
                    until the delivery of the processed request.
                </p>
                <div>
                    <img src="~/Design/img/PROCESS.png" style="width:100%;background-color:#fff;" />
                </div>
                <h3 style="color: #c85d32;">Stage ONE : Registering/ Confirming Request:</h3>
                <p>
                    All requests can be submitted online either directly via the IAU’s Mustafid Website and
                    Application or indirectly via Tawasul Website and Application. Requests can also be
                    submitted in person in the Beneficiary Service Center. The center is located in Gate2- C1
                    West Campus in Rakkah. The entrance lobby has a interactive map of the IAU campuses
                    along with a self-service kiosk. To submit a new request and/or to follow up an existing
                    one, applicant must first fill the necessary information, get a waiting number stay in the
                    available waiting zones.
                    <br />
                    <br />
                    There is a front desk on the left side with 3 employees each in charge of a service sector.
                    Another back-up office on the left side is in charge of the express and easy-to-deal-with
                    applications’ process. A copy-center with the necessary equipment is also provided.
                    <br />
                    <br />
                    Thus, upon the submission of the application, the beneficiary receives a confirmation via
                    the mobile’s messages or the email address registered in the request.
                    <br />
                    <br />
                    The staff of the University's IAU-BSC Center will then adopt the approved procedures to
                    classify the application according to its type of service and type of request in order to
                    deliver it to the administrative type and level responsible for providing the service and
                    finally responding to the applicant.
                    <br />
                    <br />
                    Once the sorting is done, a tracking number is generated and sent to the applicant in order
                    to track the process through the application “Mustafid”. The tracking number is designed
                    to enable the IAU-BSC personnel to classify the order, send it to the responsible party,
                    trace it and document every step related to the service delivery. It comprises the following
                    information: The source of the request, the location of the campus and the building in
                    which the request shall be processed, the activity type, the type of the request and the
                    order sequence number
                    <br />
                    <br />
                    The personnel, thus, adopts the administrative procedures required to ensure that the
                    application reaches the correct authority and the that the delivery outcomes respond to the
                    applicant’s expectations.
                    <br />
                    <br />
                    The dashboard of the “Mustafid” application enables the IAU-BSC administration staff to
                    track the efficiency in communication, service delivery and level using the geo-temporal
                    attributes listed in the tracking number and to insert notes and comments that will be used
                    in further analysis and assessment processes
                </p>
                <h3 style="color: #c85d32;"> Stage TWO: Dispatching to service provider:</h3>
                <p>
                    Prior to dispatching the request to the service provider, a sorting and coding process
                    should be done to ensure it is dispatched to the accurate destination.
                    <br />
                    Thus, the systematic communication of the university and the activation of its
                    adaptive ability to connect the data vocabulary and spatial inferences with other
                    selective types of information system that serve all other procedural communications
                    are joined. The system of classification and coding of names and functional
                    indications at the university depends on two approaches:
                    <br />
                    <ol>
                        <li>
                            Hierarchical classification of the administrative functions into three consecutive
                            levels of importance:
                        </li>
                        <li>
                            A unified coding designed according to the following:
                            <ul>
                                <li>
                                    Linking the functional levels with the unified coding of the spatial and
                                    geographical data used for the wayfinding and navigation system
                                </li>
                                <li>
                                    Completing the design of the system in the form of bar code for each
                                    functional level.
                                </li>
                            </ul>
                        </li>
                    </ol>
                </p>
                <h4>The levels of functional classifications</h4>
                <p>
                    Based on the above, the proposed coding system depends on the existing hierarchy of
                    the administrative system of the university. This hierarchy starts from highest
                    administrative level to the subordinate level (two consecutive official levels and two
                    unofficial subordinate levels), preceded by the university's approved code and campus
                    site.
                    <br />
                    In the first version of the IAU inclusive coding system, the labels are classified into two
                    main levels according to the hierarchical and functional reliance.
                    The first level is the main functions, which are described as followed:
                    <br />
                    <ol color="#c85d32;">
                        <li>University Council</li>
                        <li>University Rector</li>
                        <li>
                            Office of Vice
                            Precedencies
                        </li>
                        <li>University Hospitals.</li>
                    </ol>

                    The second level is related directly to the first functional level and has four main
                    categories:
                    <br />
                    <ol color="#c85d32;">
                        <li>Deanship</li>
                        <li>Colleges</li>
                        <li> Units and Centers</li>
                        <li>Administrations and Departments</li>
                    </ol>
                    Those who fall under the second level should have two criteria:
                    <br />
                    <ul>
                        <li style=" color: #c85d32;">They must have direct administrative subordination to the first level</li>
                        <li style=" color: #c85d32;">They should have the authority to communicate directly and officially with the official off-campus	organizations.</li>
                    </ul>
                    <br />
                    In order to ensure the quality and promptness of administrative communication and to guarantee the
                    access of accurate services to the beneficiaries, frameworks have been established to complete the
                    aforementioned information system and to include the third and fourth administrative level. Each level
                    included the following branches:
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <p>LEVEL 3</p>
                            <table>
                                <tr style="color:#c85d32;">
                                    <th style="min-width:30px">1</th>
                                    <td>Vice Deanship </td>
                                </tr>
                                <tr style="color:#c85d32;">
                                    <th>2</th>
                                    <td> Academic Sections</td>
                                </tr>
                                <tr style="color:#c85d32;">
                                    <th>3</th>
                                    <td> Unit/Center</td>
                                </tr>
                                <tr style="color:#c85d32;">
                                    <th style="min-width:30px">4</th>
                                    <td> Administrative Dept. /Sections</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <p>LEVEL 4</p>
                            <table>
                                <tr style="color:#c85d32;">
                                    <th style="min-width:30px">1</th>
                                    <td> Sub-Vice Deanship</td>
                                </tr>
                                <tr style="color:#c85d32;">
                                    <th style="min-width:30px">2</th>
                                    <td>Vice-Academic Sections</td>
                                </tr>
                                <tr style="color:#c85d32;">
                                    <th style="min-width:30px">3</th>
                                    <td> Vice- Unit/Center</td>
                                </tr>
                                <tr style="color:#c85d32;">
                                    <th style="min-width:30px">4</th>
                                    <td> Sub- Administrative Dept. /Sections</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                    In a few cases, and for purely managerial motives related to the nature and type of activity as well as the
                    ease of accomplishment of the services provided, there are some exceptions in dependency and hierarchy
                    of administrative levels. As a result, some sectors in the third level are directly subordinate to the first
                    level and some in the fourth level are directly subordinate to the second level
                </p>
                <div>
                    <img src="~/Design/img/stage 2 administrative level.png" style="width:100%;background-color:#fff;" />
                </div>
                <h3 style="color: #c85d32;">Stage THREE: Processing Request:</h3>
                <p>
                    The request is processed after it is delivered to the service provider. The Center
                    assesses and follows up the following factors:
                    <ul>
                        <li style=" color: #c85d32;">
                            To Ensure the accuracy of identifying the service provider, ie the
                            accuracy of the address, the concerned service provider and the
                            precise administrative level
                        </li>
                        <li style=" color: #c85d32;">
                            To Re-send the application to the accurate agency in case of error
                            transmission and to direct the representatives of the IAU-BSC to
                            avoid this flaw in the future
                        </li>
                        <li style=" color: #c85d32;">
                            Review the adequacy of the proposed period to provide the service
                            with the actual processing time. To review with the related
                            authority the reasons of the delay and the means to avoid it in the
                            future
                        </li>
                    </ul>

                </p>
                <h3 style="color: #c85d32;">Stage FOUR: Dispatching Processed Request:</h3>
                <p>
                    Upon completion of the order, the applicant shall receive a notification
                    confirming the dispatching process and the means of delivery either
                    electronically or manually at the Center.
                </p>
                <h3 style="color: #c85d32;">Stage FIVE: Delivering Processed Request</h3>
                <p>
                    Once the service is delivered, the beneficiary is entitled to write a performance
                    evaluation, complete your performance review, and return it online.
                    A series of internal performance evaluation for the IAU-BSC and the IAU service
                    providers is also completed periodically and per each transaction to ensure the
                    quality of the service and the service delivery process
                </p>
            </div>
        </div>
    </div>
</div>
<script src="~/Design/JS/jquery.js"></script>
<script>
    $(".main-page a").click(function () {
        //if (document.body.offsetWidth > 767) {
        $(".content .active").hide();
        $(".content .active").removeClass("active");

        $(".content ." + $(this).attr("location")).fadeIn();
        $(".content ." + $(this).attr("location")).addClass("active");
        $(".main-page a").removeClass("active");
        $(this).addClass("active");

        //} else {
        //	$(".col-md-12.active").fadeOut();
        //	$(".col-md-12.active").removeClass("active");
        //	$(".mob-" + $(this).attr("location")).fadeIn();
        //	$(".mob-" + $(this).attr("location")).addClass("active");
        //	$(".main-page a").removeClass("active");
        //	$(this).addClass("active");
        //}
    });

    //if (document.body.offsetWidth > 767) {
    $(".content .loc1").fadeIn();
    $(".content .loc1").addClass("active");
    $(".main-page .collapse-container:first-child a").addClass("active");
    //} else {
    //	$(".mob-loc1").fadeIn();
    //	$(".mob-loc1").addClass("active");
    //	$(".main-page .collapse-container:first-child a").addClass("active");
    //}
    //$(document).ready(e => {
    //	$(".content .active").hide();
    //	$(".content .active").removeClass("active");
    //	$(".mob-" + "loc5").fadeIn();
    //	$(".mob-" + "loc5").addClass("active");
    //})
</script>