
@{ 
    ViewBag.title = "Main";
}
<div class="main-page">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 collapse-container">
                <a class="btn btn-success " data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                    <div class="row">
                        <p class="col-md-10">About The IDU</p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 collapse-container">
                <a class="btn btn-success " data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                    <div class="row">
                        <p class="col-md-10">Scope of work</p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 collapse-container">
                <a class="btn btn-success " data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                    <div class="row">
                        <p class="col-md-10">IDU sub-units</p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 collapse-container">
                <a class="btn btn-success " data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                    <div class="row">
                        <p class="col-md-10">IDU Expected outcome</p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 collapse-container">
                <a class="btn btn-success " data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                    <div class="row">
                        <p class="col-md-10">Unit Organizational struct</p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 collapse-container">
                <a class="btn btn-success " data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                    <div class="row">
                        <p class="col-md-10">Design pattens and public</p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 collapse-container">
                <a class="btn btn-success " data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                    <div class="row">
                        <p class="col-md-10">Projects</p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>