
@{
    ViewBag.Title = "IAU-BSC | Main";
    var isar = Request.Cookies["lang"].Value.ToString() == "ar";
}
<style>
    .main-page .collapse-container {
        height: calc(100% / 7);
        margin: 0 !important;
        text-align:start !important;
    }

    .t-justify, p, li {
        text-align: justify !important;
    }

    .content.smallview {
        padding: 0 !important
    }

    li {
        text-align: start;
    }

    .main-page .collapse-container > a {
        height: 100%;
        margin-bottom: 5px !important;
    }

    .main-page .collapse-container:first-child {
        margin-top: 0 !important;
    }

    .Main-Outer-Navigationlink {
        width: 100%;
        height: 100%;
        padding-bottom: 5px;
    }

    .collapse-container:last-child .Main-Outer-Navigationlink {
        padding-bottom: 0px;
    }

    .Main-Outer-Navigationlink a {
        width: 100%;
        height: 100%;
        background: #4f693a;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

        .Main-Outer-Navigationlink a .row {
            width: 100%
        }

            .Main-Outer-Navigationlink a .row p {
                margin: 0;
                text-align: start !important;
            }

        .Main-Outer-Navigationlink a.active:hover {
            background-color: #a5cc7d !important;
        }

        .Main-Outer-Navigationlink a:hover {
            background-color: #4f693a !important;
        }


    .content > div {
        margin-top: 25px !important;
        padding: 20px 12px;
    }
</style>
@if (isar)
{
    <style>
        .fas.fa-chevron-right {
            transform: rotateY(180deg);
        }

        .main-page .collapse-container > a p {
            text-align: right;
            direction: rtl
        }

        .main-page .collapse-container > a {
            display: block;
            direction: ltr;
            padding: 15px 28px !important;
            background-color: #4f693a;
            border: none;
            border-radius: 0;
            letter-spacing: 2px;
        }

        h3 {
            color: #0a1332 !important;
        }

        .orange-color {
            color: #c85d32 !important;
        }

        .href {
            text-decoration: underline !important;
            color: inherit;
        }

        .main-page > .row {
            display: flex; /* equal height of the children */
            height: calc(100vh - 215px - 77px) !important;
        }

        .row .col-md-4, content div {
            flex: 1;
        }

        .content {
            overflow: auto;
            padding: 0 87px;
        }

        .content, .main-page .row .col-md-4 {
            height: inherit;
        }
    </style>
}
else
{
    <style>
        .main-page .collapse-container > a {
            display: block;
            padding: 15px 28px !important;
            background-color: #4f693a;
            border: none;
            border-radius: 0;
            letter-spacing: 2px;
        }

        h3 {
            color: #0a1332 !important;
        }

        .orange-color {
            color: #c85d32 !important;
        }

        .href {
            text-decoration: underline !important;
            color: inherit;
        }

        .main-page > .row {
            display: flex; /* equal height of the children */
            height: calc(100vh - 215px - 77px) !important;
        }

        .row .col-md-4, content div {
            flex: 1;
        }

        .content {
            overflow: auto;
            padding: 0 87px;
        }

        .content, .main-page .row .col-md-4 {
            height: inherit;
        }
    </style>
}
<div class="main-page" style=" direction: @(isar?"rtl":"ltr");">
    <div class="row">
        @if (isar)
        {
            <div class="col-md-4">
                <div class="col-md-12 collapse-container">
                    <div class="Main-Outer-Navigationlink">
                        <a class="btn btn-success" location="loc1">
                            <div class="row">
                                <p class="col-md-10">
                                    نبذة عن مركز رعاية المستفيدين :
                                </p>
                                <div class="col-md-2">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-12 collapse-container">
                    <div class="Main-Outer-Navigationlink">

                        <a class="btn btn-success" location="loc2">
                            <div class="row">
                                <p class="col-md-10">
                                    إجابات وأفكار وفرص جديدة بالمركز :
                                </p>
                                <div class="col-md-2">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-12 collapse-container">
                    <div class="Main-Outer-Navigationlink">

                        <a class="btn btn-success" location="loc3">
                            <div class="row">
                                <p class="col-md-10">
                                    الرؤية والرسالة والقيم :
                                </p>
                                <div class="col-md-2">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-12 collapse-container">
                    <div class="Main-Outer-Navigationlink">

                        <a class="btn btn-success" location="loc4">
                            <div class="row">
                                <p class="col-md-10">
                                    نطاق الخدمات ونظام التشغيل الخاص بالمركز :
                                </p>
                                <div class="col-md-2">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-12 collapse-container">
                    <div class="Main-Outer-Navigationlink">

                        <a class="btn btn-success" location="loc5">
                            <div class="row">
                                <p class="col-md-10">
                                    مراحل تقديم الخدمات بالمركز :
                                </p>
                                <div class="col-md-2">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 collapse-container">
                    <div class="Main-Outer-Navigationlink">

                        <a class="btn btn-success" href="/Home">
                            <div class="row">
                                <p class="col-md-10">
                                    تقديم/متابعة الطلبات المقدمة :
                                </p>
                                <div class="col-md-2">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-12 collapse-container">
                    <div class="Main-Outer-Navigationlink">

                        <a class="btn btn-success" location="loc6" href="/Contactus">
                            <div class="row">
                                <p class="col-md-10">
                                    اتصل بنا :
                                </p>
                                <div class="col-md-2">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 content" style="background-color: #fff;">
                <div class="col-md-12 display-1 loc1" style="margin-top:25px;display:none;    background-color: rgb(255, 255, 255);padding: 20px 12px;">
                    <blockquote style="color: #0a1332; font-size: 16px; margin: 0px 0px 50px;">
                        تم إنشاء قطاع تقديم الخدمات للمستفيدين من جامعة الإمام عبدالرحمن بن فيصل تحت اسم مركز رعاية المستفيدين (IAU-BSC)، بهدف تحويل توصيل الخدمات المقدمة من قبل الجامعة إلى كيان إداري مركزي مستقل لديه مجموعة من السلطات والصلاحيات القانونية فضلًا عن تمتعه بحق التصرف الإداري والمالي. وعليه, فقد تم تصميم مركز رعاية المستفيدين وتشغيله لتوفير جميع الخدمات المتاحة لمستخدميه المحتملين، إضافة لتعاون الجهات الادارية المختصة من أجل تحسين أنواع الخدمات وجودتها وأنظمة تقديمها وذلك لتوجيه أصول جامعة الإمام عبد الرحمن بن فيصل وتوسيع استخدامها وبناء قدرات استثمارية عالية.
                        <br />
                        <br />
                        تم إنشاء قطاع تقديم الخدمات للمستفيدين من جامعة الإمام عبدالرحمن بن فيصل تحت اسم مركز رعاية المستفيدين (IAU-BSC)، بهدف تحويل توصيل الخدمات المقدمة من قبل الجامعة إلى كيان إداري مركزي مستقل لديه مجموعة من السلطات والصلاحيات القانونية فضلًا عن تمتعه بحق التصرف الإداري والمالي. وعليه, فقد تم تصميم مركز رعاية المستفيدين وتشغيله لتوفير جميع الخدمات المتاحة لمستخدميه المحتملين، إضافة لتعاون الجهات الادارية المختصة من أجل تحسين أنواع الخدمات وجودتها وأنظمة تقديمها وذلك لتوجيه أصول جامعة الإمام عبد الرحمن بن فيصل وتوسيع استخدامها وبناء قدرات استثمارية عالية.
                    </blockquote>
                    @*<p style="color: #0a1332; font-size: 16px; font-weight:bold; text-align:right">
                            Dr. Saleh bin Ali Al-Rashed
                        </p>
                        <p style="color: #0a1332; font-size: 16px;text-align:right;padding-right:30px;">
                            IAU’s Vice-President
                        </p>*@
                </div>
                <div class="col-md-12 New-Idea display-2 loc2" style="display:none;">
                    <div class="AboutIAU p-0 m-0" style="padding-top: 20px; margin:0 !important">
                        <p class="p-0">
                            تم عمل التصميم الداخلي لمقر المركز ونظام تشغيله وتطبيق "مستفيد" من قبل <a href="https://www.iau.edu.sa/en/administration/offices-of-the-vice-presidents/office-of-the-vice-president/deanships-and-departments/inclusive-design-unit">وحدة التصميم الشامل</a>، شعبة التصميم. وتتبنى الوحدة نهجًا إبداعيًا لحل المشكلات (التصميمية والبيئية بدايةً من تحديد الرؤية والرسالة والقيم ووصولًا إلى أدق تفاصيل التصميم والتشغيل. ولقد تمثل ذلك في تحديد أهداف المركز وآليات تفعيله وتوسيع نطاق أعماله لتلائم الخطة الاستراتيجية الخاصة بجامعة الإمام عبدالرحمن بن فيصل والتي تتماشي مع رؤية المملكة العربية السعودية لعام 2030، فضلًا عن تصميم العديد من التصميمات البيئية والتقنية المبتكرة سعيًا لنقل رسالته والوصول إلى أهدافه المنشودة. لذا فإن المركز يتجاوز دوره كمجرد وسيط لتقديم الخدمات إلى اعتماد وتبني نهج شامل للمبادئ والاجراءات اللازمة لدعم الجامعة في تحقيق خطتها الاستراتيجية والترويج لأنشطتها وسياساتها التنظيمية وخدماتها للمستفيد من خارج وداخل الجامعة وذلك على النحو التالي:


                        </p>
                        <ol class="orange-color" style="margin:0 8px">
                            <li><span class="href">استدامة</span> بيئة الحرم الجامعي بجامعة الإمام عبد الرحمن بن فيصل.</li>
                            <li>
                                بناء نظام <span class="href">إداري مؤسسي </span>حديث وعصري .
                            </li>
                            <li>تعزيز مفاهيم <span class="href">المسؤولية الاجتماعية </span> والشراكة المجتمعية.</li>
                        </ol>
                        <p>
                            وتتمثل المرحلة الأولى من هذه العملية في تحديد الأسئلة الرئيسية والإجابة عليها.
                        </p>
                        <div class="col-md-12 Objective-count-img  m-0 p-0">
                            <img src="~/Design/img/Picture1.png" style="width:100%;" />
                        </div>
                        <div class="Objective-question m-0 p-0" style="margin:0!important">
                            <div class="row">
                                <div class="col-md-4" style="font-weight:bold">
                                    <p style="margin: 0; white-space: nowrap;">
                                        السؤال الأول :
                                    </p>
                                    <p style="text-align: initial !important;">
                                        من هي الفئة المستهدفة؟
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <ol>
                                        <li>
                                            منسوبي الجامعة
                                            <br />
                                            <span style="margin-left:10px">(من أعضاء هيئة التدريس والطلبة والموظفين والعاملين)</span>
                                        </li>
                                        <li>
                                            مجتمع المنطقة الشرقية
                                            <br />
                                            <span style="margin-left:10px">(المواطنين ودول مجلس التعاون الخليجي والمقيمين والزوار)</span>
                                        </li>
                                        <li>
                                            أعضاء الهيئة الإدارية والاتصالات الإدارية  الخاصة بالدعم الخدمي والتقني
                                            <br />
                                            <span style="margin-left:10px">(قاعدة البيانات الموحدة بجامعة الإمام عبدالرحمن  بن فيصل)</span>
                                        </li>
                                    </ol>
                                </div>
                                <div class="col-md-4" style="font-weight:bold">
                                    <p style="margin: 0; white-space: nowrap;">
                                        السؤال الثاني :
                                    </p>
                                    <p style="text-align: initial !important;">
                                        ما أوجه الاستفادة ذات الصلة لجميع الأطراف المعنية؟
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <ol>
                                        <li>
                                            منسوبي الجامعة
                                            <ul>
                                                <li>تأمين تقديم الخدمات القائمة بفعالية ويسر</li>
                                                <li>
                                                    تحديث الخدمات القائمة وتحسينها وتطويرها
                                                </li>
                                                <li>الاستثمار بهدف إنشاء خدمات جديدة</li>
                                            </ul>
                                        </li>
                                        <li>
                                            مجتمع المنطقة الشرقية
                                            <ul>
                                                <li>
                                                    توسيع استخدام الخدمات لتشمل المستفيدين من غير منسوبي الجامعة.
                                                </li>
                                                <li>
                                                    خصخصة خدمات جامعة الإمام عبدالرحمن بن فيصل ومرافقها الخدمية.
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            موظفو مستوى الاتصال الإداري والمستوى الثالث
                                            <ul>
                                                <li>
                                                    الشفافية والشمولية الإدارية والوظيفية والتواصلية في جامعة الإمام عبدالرحمن بن فيصل
                                                </li>
                                                <li>
                                                    تعيين كوادر إدارية مؤهلة لتحقيق الخطة الاستراتيجية لجامعة الإمام عبدالرحمن  بن فيصل ورؤية المملكة العربية السعودية لعام 2030
                                                </li>
                                                <li>
                                                    التقييم الواقعي للأداء الإداري والوظيفي والتواصلي
                                                </li>
                                                <li>
                                                    التقليل من حالات سوء الفهم والتعيين الخاطئ والازدواجية والنقض وغيرها من العوامل المؤثر على كفاءة وجودة  نقل الخدمة المقدمة
                                                </li>
                                            </ul>
                                        </li>
                                    </ol>
                                </div>
                                <div class="col-md-4" style="font-weight:bold">
                                    <p style="margin:0; white-space: nowrap;">
                                        السؤال الثالث :
                                    </p>
                                    <p style="text-align: initial !important;">
                                        كيف يمكن للمركز تحقيق هذه الأهداف؟
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <ul style="list-style:none">
                                        <li>
                                            المرحلة الأولى
                                            <ul>
                                                <li>
                                                    تعميم استخدام قاعدة البيانات الموحدة بجامعة الإمام عبدالرحمن  بن فيصل لتشمل جميع جوانب الاتصالات الإدارية والتقنية.
                                                </li>
                                                <li>
                                                    بناء نظام تشغيلي للمركز مستمد من قاعدة البيانات الموحدة بجامعة الإمام عبدالرحمن  بن فيصل.
                                                </li>
                                                <li>
                                                    زيادة استخدام التقنية الحديثة والحد من الاعتماد على الاستراتيجيات التقليدية لتقديم الخدمات.
                                                </li>
                                                <li>
                                                    إعداد الكوادر المؤهلة وصناع القرار.
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>






                    </div>


                </div>
                <div class="col-md-12 New-Idea loc3" style="display:none;">
                    <div class="vision" style="padding-top: 20px;">
                        <p>
                            يتم تحديد رؤية مركز رعاية المستفيدين  ورسالته بما يتماشى مع رؤية المملكة العربية السعودية 2030 ووفقًا للخطة الإستراتيجية لجامعة الإمام عبدالرحمن  بن فيصل، والتي تهدف إلى تقديم خدمات فريدة ومميزة لكافة المستفيدين وتطوير الكفاءات البارزة في مختلف التخصصات وتعزيز التواصل والاستثمار الإداري واستدامة الادارة.
                        </p>
                        <ul>
                            <li>
                                <b>الرؤية :</b> خدمات عالية الجودة ونظام تقني متطور لتقديم الخدمات للجميع.
                            </li>
                            <li>
                                <b>الرسالة :</b> مركزًا إداريًا وتنظيميًا رائدًا, تتمثل رسالته الرئيسية في ضمان تقديم الخدمات المتاحة في الحرم الجامعي بمواقعه السبعة كما يلي:
                                <ul>
                                    <li>تقديم خدمات مستدامة عالية الجودة في الحرم الجامعي بمواقعه السبعة.</li>
                                    <li>تدريب الكادر المهني اللازم لتحسين هذه الخدمات واستدامتها ولتحقيق أهداف المركز.</li>
                                    <li>استكشاف المزيد من الاستراتيجيات والخدمات المبتكرة وتنفيذها لزيادة النتائج الإيجابية للخدمات المقدمة.</li>
                                    <li>توسيع أعداد وقطاعات المستفيدين وتمكين المجتمعات المحلية والإقليمية من مفردات تحسين جودة الحياة لديهم بتنوع الخدمات بما يتماشى مع رؤية المملكة العربية السعودية لعام 2030 من خلال تبني منهجيات تعتمد على الوعي والخدمة والبحث والتقنية والابتكار.</li>
                                </ul>
                            </li>
                            <li>
                                <b>القيم الأساسية : </b> يتبنى مركز رعاية المستفيدين ثمانية قيم أساسية تؤكد الالتزامات المضمنة في رسالة المركز، ألا وهي:
                                <br />
                                <ul>
                                    <li>
                                        <b>المصداقية والموثوقية :</b> : العمل بمعايير أخلاقية والتقيد بأعلى الإجراءات التخصصية وضمان الارتقاء بالعمل إلى مستوى التوقعات والحفاظ على دعم جميع الذين يتعامل معهم المركز.
                                    </li>
                                    <li>
                                        <b>المساءلة :</b>: العمل بدقة كبيرة وعناية متناهية من أجل خدمة منسوبي جامعة الإمام عبدالرحمن  بن فيصل وأفراد أسرهم وغيرهم من المستفيدين، مدفوعًا برؤية جامعة الإمام عبدالرحمن  بن فيصل ورسالتها بهدف إنجاز جميع المسؤوليات التنظيمية التي تقع على عاتق المركز.
                                    </li>
                                    <li>
                                        <b>الكفاءة :</b> العمل بطريقة بناءة ومختصة سعيًا لتحقيق نتائج يمكن التنبؤ بها وقابلة للقياس، وتعزيز ثقافة مرنة محفزة على التعلم والابتكار لتلبية الاحتياجات المتطورة للمستفيدين من جامعة الإمام عبدالرحمن  بن فيصل وكافة أفراد المجتمع خارج الحرم الجامعي بنجاح وفعالية.
                                    </li>
                                    <li>
                                        <b>الإبداع :</b> البحث عن أفضل الإجابات العملية وتبني الاستراتيجيات المبتكرة والتكيف مع الظروف الإدارية الحالية والمستقبلية لتلبية الاحتياجات المتغيرة لكافة المستفيدين.
                                    </li>
                                    <li>
                                        <b>المناصرة :</b> تبني منهجية تتمحور حول المستخدم من خلال التمييز بين اهتمامات المستخدمين المحتملين واحتياجاتهم وتعزيزها ومراعاتها وتقديمها على النحو الأمثل.
                                    </li>
                                    <li>
                                        <b>التقدير والامتنان :</b> معاملة جميع المستفيدين بكرامة واحترام.
                                    </li>
                                    <li>
                                        <b>التميز :</b> العمل على تحقيق أعلى مستويات الجودة والتقدم المستمر، ومراعاة ضوابط الحوكمة وتحمل المسؤولية عن سلوكيات المركز والاستعداد لتقبل الوقوع بالأخطاء والسقطات والإخفاقات والسعي بجدية تامة لتصحيحها ومعاودة النجاح.
                                    </li>
                                    <li>
                                        <b>بناء الجسور :</b> العمل بشكل تعاوني داخل مؤسستنا ومع شركائنا الخارجيين من أجل ضمان توفير أفضل المعايير الممكنة للخدمات وسبل تقديمها.

                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-12 operation-System loc4" style="display:none;">
                    <div class="Scope-of-Services m-0">
                        @*<h3>
                                IAU-BSC Scope of Services and operational system:
                            </h3>*@
                        <h3>نطاق الخدمات :</h3>
                        <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                            وفقًا لنظام الترميز الموحد في جامعة الإمام عبدالرحمن بن فيصل، يتم تعريف المباني في الحرم الجامعي من خلال خدماتهم وانشطتهم الرئيسية ويتم التعريف بمجموعة من الأحرف والألوان حسب نوع النشاط ورقم المبنى. وعليه فقد تم تصنيف الخدمات إلى سبع فئات على النحو الموضح بالشكل أدناه:
                        </p>
                        <div class="m-0 p-0">
                            <img src="~/Design/img/picture6.png" style="width:100%;background-color:#fff;margin-bottom:50px" />
                        </div>
                        <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                            وبناءً عليه، سيتم تصنيف الخدمات المقدمة عبر مركز رعاية المستفيدين إلى ثلاث قطاعات رئيسية تحدد أهدافها وخطط عملها كما يلي: 1- القطاع الأكاديمي، 2- القطاع الإداري، 3- قطاع الخدمات الخاصة.

                        </p>
                        <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                            <ol style="padding: 19px;">
                                <li>
                                    <b>القطاع الأكاديمي :</b> يقدم قطاع الخدمات الأكاديمية الدعم اللازم لكافة الأنشطة الاكاديمية المنهجية واللامنهجية وذلك للكليات والأقسام الأكاديمية بما في ذلك الدعم الأكاديمي وتكنولوجيا المعلومات والاتصالات ومعدات الورش والأنشطة التخصصية وخلافة.
                                </li>
                                <li>
                                    <b>القطاع الإداري :</b>يقدم قطاع الخدمات الإدارية تسهيلات التواصل لكافة الجهات الإدارية وذلك لكل منسوبي الجامعة والمستفيدين من خارج الجامعة بما في ذلك تشغيل خدمات الموارد البشرية والمرافق والخدمات التشغيلية وخدمات الصيانة.
                                </li>
                                <li>
                                    <b>الخدمات الخاصة :</b>: يقدم قطاع الخدمات الخاصة لمنسوبي الجامعة وغير المنسوبين كافة أنواع الخدمات المتخصصة الغير مشمولة في القطاع الأكاديمي والإداري بما في ذلك الخدمات الصحية والرياضية والإسكان والتدريب والترفيه وغيرها من الخدمات التي تتوفر للجميع باختلاف النوع والعمر والقدرات والاحتياجات.
                                </li>
                            </ol>
                        </p>

                        <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                            وعلى النحو الموضح في الشكل أدناه، تتبع القطاعات الثلاثة وفئاتها الفرعية نظام الترميز الموحد بالجامعة. ويضاف رمز الحرم الجامعي لأكواد الفئات والمستويات الادارية والمباني لتحديد موقعهم الجغرافي.
                        </p>
                        <div class="m-0 p-0">
                            <img src="~/Design/img/19 h.png" style="width:100%;background-color:#fff;" />
                        </div>
                    </div>
                    <div class="Reference-Points m-0">
                        <h3>المرجعية الخاصة بمركز رعاية المستفيدين :</h3>
                        <p>
                            يتلقى المركز الطلبات والاستفسارات من المستفيدين من منسوبي الجامعة ومن خارجها عبر موقع "تواصل" أو تطبيق "مستفيد":
                        </p>
                        <ol>
                            <li>
                                "تواصل" المعتمد من وزارة التربية والتعليم، و تم تأسيسه كآلية سلسة للتواصل مع معالي وزير التربية والتعليم ومسؤولي الوزارة وكافة القطاعات الأخرى. ويعد موقع "تواصل" نظام اتصال آمنا وموثوقا لأولئك الذين ليسوا على دراية بنظام "مستفيد" الخاص بالجامعة؛
                            </li>
                            <li>
                                تطبيق "مستفيد" الخاص بجامعة الإمام عبدالرحمن  بن فيصل والذي يوفر نظام تواصل مباشر وسريع للجامعة. وبالتالي، يمكن للمستفيدين مخاطبة المركز مباشرةً إما من خلال التطبيق الرسمي لمركز رعاية المستفيدين"مستفيد" أو عن طريق زيارة المركز بموقعه بالجامعة.
                            </li>
                        </ol>
                        <div class="m-0 p-0">
                            <img src="~/Design/img/IAU-BSC ReferencePoints1.png" style="width:100%;background-color:#fff;" />
                        </div>
                        <p>
                            ويقوم تطبيق "مستفيد" بمركز رعاية المستفيدين  بعد تسلمه طلبات الخدمات من قنوات الاتصال الوزارية والجامعية، بتوصيل الطلبات والاستفسارات للقطاع المختص بالجامعة، وذلك بعد تصنيفها استنادا لنوع النشاطات والخدمات السابق ذكره ثم لنوع الطلبات استنادا بموقع "تواصل":
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <ol style="color: #c85d32;">
                                    <li>استشارة</li>
                                    <li>لقاء</li>
                                    <li>شكوى</li>
                                </ol>
                            </div>
                            <div class="col-md-6">
                                <ol start="4" style="color: #c85d32;">
                                    <li>بلاغ</li>
                                    <li>اقتراح </li>
                                    <li>استفسار</li>
                                </ol>
                            </div>
                        </div>

                    </div>
                    <div style="display: flex; justify-content: center;margin:0!important" class="m-0 p-0">
                        <img src="~/Design/img/picture9.png" style=" max-width: 100%; height: 233px; background-color: #fff;" />
                    </div>
                    <div class="Service-Delivery m-0">
                        <h3>
                            الخدمة التشغيلية الخاصة بمركز رعاية المستفيدين :
                        </h3>
                        <p>
                            يعد مركز رعاية المستفيدين ونظامه التشغيلي "@@ IAU-BSC" وتطبيقه "مستفيد" على مواقع الويب والهواتف الذكية جزءًا من سلسلة مشاريع ومبادرات جامعة الإمام عبدالرحمن  بن فيصل لإنشاء أنظمة إدارية وتشغيلية شاملة وذكية تعزز استدامة المباني والخدمات فضلًا عن الرفاهية والأداء الوظيفي للمجتمع الجامعي، بدايةً من التصميم والمحاكاة والاختبار ووصولًا إلى التشغيل والإدارة المستمرة.                            <br />
                            <br />

                            المشروع العام برمته مستمد من "قاعدة البيانات الموحدة" و"نظام الترميز الموحد" بالجامعة. وعليه فإنه يستوعب الأنظمة المتداخلة بالجامعة سواء على مستوى الأهداف أو العلاقات التبادلية والمتسلسلة في مهام الأعمال والنتائج المتوقعة والتي تحتاج إلى نظام تواصل منظم وموحد. ومن ثم، تم تطوير واختبار نظام معلومات شبه شبكي من أجل المساهمة في تحقيق التواصل النظامي القابل للتكيف من أجل سهولة الوصول إلى مقر الخدمات ووصل المعلومات المكانية بكل توقعات التواصل الإداري المختلف مثل الإتصال الإداري ونظام الوثائق والمعلومات ونظام التشغيل والصيانة ونظام إدارة المشاريع والخدمات العامة ونظام إدارة الأمن والسلامة. وبالتالي، فإن النظام الخاص بمركز رعاية المستفيدين هو نهج شامل لتداول المعلومات وتوصيل الخدمات وتقييم مستوى الخدمة يمكن تحديد مستواه ودرجة تشابكه ودمجه وانتقاله إلى مستويات مختلفة من  التداخلات التواصلية اعتمادًا على الغرض الوظيفي للتواصل والنشاط.
                        </p>
                        <div class="m-0 p-0">
                            <img src="~/Design/img/Picture2.png" style="width:100%;background-color:#fff;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 loc5" style="display:none;">
                    @*<img src="~/Design/img/Picture10.png" style="width:100%;background-color:#fff;" />*@
                    <h3>
                        مراحل تقديم الخدمات بالمركز:
                    </h3>
                    <div class="px-3">
                        <p>
                            تتألف كل عملية من خمس (5) مراحل متتالية:
                            <ol style="color: #c85d32;padding:0 50px">
                                <li>تأكيد/ تسجيل الطلب</li>
                                <li>
                                    الفرز / الترميز والإرسال إلى مقدم الخدمة
                                </li>
                                <li>معالجة الطلب </li>
                                <li>إرسال الطلبات التي تم معالجتها</li>
                                <li>تسليم الخدمات لصاحب الطلب.</li>
                            </ol>
                        </p>
                        <p>
                            يوضح الشكل أعلاه  الإجراء الذي يلزم على المستفيدين اتباعه خلال تقديم طلباتهم والحصول على رقم التتبع الخاص بطلباتهم ومتابعة عملية التشغيل حتى تمام تسليم الطلب الذي تمت معالجته.

                        </p>
                        <div>
                            <img src="~/Design/img/PROCESS h.png" style="width:100%;background-color:#fff;" />
                        </div>
                        <h3 style="color: #c85d32;">المرحلة الأولى : تسجيل/تأكيد الطلب</h3>
                        <p class="mx-3">
                            يمكن تقديم جميع الطلبات عبر الإنترنت إما مباشرة عبر موقع وتطبيق "مستفيد" التابع لجامعة الإمام عبدالرحمن  بن فيصل أو بشكل غير مباشر عبر موقع وتطبيق "تواصل" التابع لوزارة التعليم. كما يمكن أيضًا تقديم الطلبات شخصيًا في مقر مركز رعاية المستفيدين بجامعة الإمام عبدالرحمن  بن فيصل، والذي يقع عند البوابة 1بالحرم الجامعي الشرقي بالراكة ، حيث يتوجب على مقدم الطلب إدخال نوع الخدمة ونوع الطلب عبر وحدة الخدمة الذاتية لتقديم طلب جديد أو رقم تتبع طلب سابق ثم  استكمال العمليات الاجراءية من قبل موظفي خدمة العملاء بالمركز.
                            <br />
                            <br />
                            يمكن تقديم جميع الطلبات عبر الإنترنت إما مباشرة عبر موقع وتطبيق "مستفيد" التابع لجامعة الإمام عبدالرحمن  بن فيصل أو بشكل غير مباشر عبر موقع وتطبيق "تواصل" التابع لوزارة التعليم. كما يمكن أيضًا تقديم الطلبات شخصيًا في مقر مركز رعاية المستفيدين بجامعة الإمام عبدالرحمن  بن فيصل، والذي يقع عند البوابة 1بالحرم الجامعي الشرقي بالراكة ، حيث يتوجب على مقدم الطلب إدخال نوع الخدمة ونوع الطلب عبر وحدة الخدمة الذاتية لتقديم طلب جديد أو رقم تتبع طلب سابق ثم  استكمال العمليات الاجراءية من قبل موظفي خدمة العملاء بالمركز.
                            <br />
                            <br />
                            وعليه, عند تقديم الطلب، يتلقى المستفيد تأكيدًا لتسلم الطلب من خلال رسالة نصية عبر رقم الهاتف الجوال أو عنوان البريد الإلكتروني المسجل في الطلب. ويقوم موظفو المركز بفرز وترميز الطلب ثم إنشاء رقم تتبع وإرساله إلى مقدم الطلب من أجل تتبع العملية عبر تطبيق "مستفيد".
                        </p>
                        <h3 style="color: #c85d32;">المرحلة الثانية : إرسال الطلب إلى مقدم الخدمة:</h3>
                        <div class="mx-3">
                            <p>
                                بعد ارسال رقم التتبع للمستفيد مقدم الطلب, يتم ارسال الطلب للجهة الادارية المختصة بتقديم الخدمة. ولضمان إرسال الطلب إلى الوجهة الصحيحة على نحو دقيق, يعتمد تطبيق "مستفيد" على قاعدة البيانات الموحدة والترميز الموحد بالجامعة والذي يتم بموجبه تصنيف وترميز المستويات الادارية والخدمات المختلفة بالجامعة بموجب التبعية والتسلسل الهرمي للمستويات الإدارية والبيانات المكانية للمستوى الإداري المعني على النحو التالي:                        <ul class="orange-color">
                                    <li>
                                        ربط المستويات الوظيفية بالترميز الموحد للبيانات المكانية والجغرافية.
                                    </li>
                                    <li>
                                        استكمال تصميم النظام على شكل رمز شريطي (باركود) لكل مستوى وظيفي.
                                    </li>
                                </ul>
                                <br />
                            </p>
                            <p>
                                التسلسل الهرمي القائم للنظام الإداري للجامعة به أربع مستويات إدارية. وقد تم في الإصدار الأول من نظام الترميز الموحد بجامعة الإمام عبدالرحمن  بن فصيل تصنيف وترميز المستويين الرئيسيين حيث يضم المستوى الأول الفئات الإدارية التالية:                        <br />
                                <ol color="#c85d32;">
                                    <li>مجلس الجامعة</li>
                                    <li>رئيس الجامعة</li>
                                    <li>
                                        مكتب نواب رئيس الجامعة
                                    </li>
                                    <li>مستشفيات الجامعة.</li>
                                </ol>

                                اما المستوى الثاني فيرتبط مباشرة بالمستوى الإداري الأول ويتكون من أربعة فئات وهم :
                                <br />
                                <ol color="#c85d32;">
                                    <li>العمادات</li>
                                    <li>الكليات</li>
                                    <li>الوحدات والمراكز</li>
                                    <li>الإدارات والأقسام</li>
                                </ol>
                                <br />
                                أولئك الذين يندرجون تحت المستوى الثاني يكون لديهم معيارين :
                                <br />

                                <ul class="orange-color">
                                    <li>
                                        أن يكون لديهم تبعية إدارية مباشرة بالمستوى الأول.
                                    </li>
                                    <li>
                                        أن يتمتعوا بصلاحية التواصل بشكل مباشر ورسمي مع الجهات المسؤولة داخل وخارج الحرم الجامعي.
                                    </li>
                                </ul>

                                ولضمان دقة وسرعة وصول الخدمات إلى المستفيدين، تم استكمال نظام المعلومات ليشمل المستوى الإداري الثالث والرابع. حيث تضمن كل مستوى الفروع التالية:

                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>المستوى الثالث</p>
                                        <table>
                                            <tr style="color:#c85d32;">
                                                <th style="min-width:30px">1</th>
                                                <td>وكالات العمادات </td>
                                            </tr>
                                            <tr style="color:#c85d32;">
                                                <th>2</th>
                                                <td> الأقسام الأكاديمية</td>
                                            </tr>
                                            <tr style="color:#c85d32;">
                                                <th>3</th>
                                                <td> الوحدات/ المراكز</td>
                                            </tr>
                                            <tr style="color:#c85d32;">
                                                <th style="min-width:30px">4</th>
                                                <td> القطاعات/ الأقسام الإدارية</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <p>المستوى الرابع</p>
                                        <table>
                                            <tr style="color:#c85d32;">
                                                <th style="min-width:30px">1</th>
                                                <td>وكالات الفئة الادارية التابعة</td>
                                            </tr>
                                            <tr style="color:#c85d32;">
                                                <th style="min-width:30px">2</th>
                                                <td>وكالات الفئة الادارية </td>
                                            </tr>
                                            <tr style="color:#c85d32;">
                                                <th style="min-width:30px">3</th>
                                                <td>الوحدات/ المراكز </td>
                                            </tr>
                                            <tr style="color:#c85d32;">
                                                <th style="min-width:30px">4</th>
                                                <td> القطاعات/ الأقسام الإدارية النائبة</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </p>
                            <div class="m-0 p-0">
                                <img src="~/Design/img/stage 2 h.png" style="width:100%;background-color:#fff;" />
                            </div>
                        </div>
                        <h3 style="color: #c85d32;">المرحلة الثالثة : معالجة الطلب</h3>
                        <p class="mx-3">
                            وعليه يكون رقم التتبع المنشأ من قبل نظام "مستفيد" هو دليل ومعيار وصول الطلب لمقدم الخدمة ووسيلة فاعلة لتتبع جودة وسرعة تقديم الخدمة من قبل موظفي المركز حيث يشمل أيضا مدة الطلب المقترح وموقع الخدمة.
                        </p>
                        <h3 style="color: #c85d32;">المرحلة الرابعة : إرسال الطلب المعالج</h3>
                        <p class="mx-3">
                            عند انتهاء الطلب، يستلم مقدم الطلب رسالة نصية عبر الجوال أو البريد لاالإلكتروني لتأكيد عملية الإرسال ووسائل التسليم للمركز سواء بطريقة إلكترونية أو يدوية.
                        </p>
                        <h3 style="color: #c85d32;">المرحلة الخامسة : تسليم الطلب المعالج</h3>
                        <p class="mx-3">
                            بمجرد تقديم الخدمة، يحق للمستفيد كتابة تقيمه حول الأداء وإكمال مراجعة الأداء الخاص به وإعادة إرساله عبر الإنترنت. كما يتم إكمال سلسلة من تقييم الأداء الداخلي لمركز رعاية المستفيدين  ومقدمي الخدمات في الجامعة بشكل دوري لكل معاملة على حدا لضمان جودة الخدمة وعملية تقديمها.
                            <br />
                            ويتم تقييم متابعة الطلب و معالجته على النحو التالي :
                            <br />
                            <ul class="orange-color">
                                <li>
                                    توثيق تعريف مقدم الخدمة، مثل : دقة العنوان ومقدم الخدمة المعني والمستوى الإداري الدقيق.
                                </li>
                                <li>
                                    إعادة إرسال الطلب للمستوى والفئة الادارية الصحيحة في حالة الخطأ وابلاغ مركز رعاية المستفيدين لتجنب وقوع هذا الخطأ في المستقبل.
                                </li>
                                <li>
                                    إعادة إرسال الطلب للمستوى والفئة الادارية الصحيحة في حالة الخطأ وابلاغ مركز رعاية المستفيدين لتجنب وقوع هذا الخطأ في المستقبل.
                                </li>
                            </ul>

                        </p>
                    </div>
                </div>
            </div>

        }
        else
        {
            <div class="col-md-4">
                <div class="col-md-12 collapse-container">
                    <div class="Main-Outer-Navigationlink">

                        <a class="btn btn-success" location="loc1">
                            <div class="row">
                                <p class="col-md-10">
                                    About the IAU-BSC :
                                </p>
                                <div class="col-md-2">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-12 collapse-container">
                    <div class="Main-Outer-Navigationlink">

                        <a class="btn btn-success" location="loc2">
                            <div class="row">
                                <p class="col-md-10">
                                    &#64;IAU-BSC New answers, NEW Ideas,
                                    New Opportunities :
                                </p>
                                <div class="col-md-2">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-12 collapse-container">
                    <div class="Main-Outer-Navigationlink">

                        <a class="btn btn-success" location="loc3">
                            <div class="row">
                                <p class="col-md-10">
                                    Mission, Vision and Values :
                                </p>
                                <div class="col-md-2">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-12 collapse-container">
                    <div class="Main-Outer-Navigationlink">

                        <a class="btn btn-success" location="loc4">
                            <div class="row">
                                <p class="col-md-10">
                                    The IAU-BSC Scope of Services and operational system :
                                </p>
                                <div class="col-md-2">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-12 collapse-container">
                    <div class="Main-Outer-Navigationlink">

                        <a class="btn btn-success" location="loc5">
                            <div class="row">
                                <p class="col-md-10">
                                    The IAU-BSC Stages of Service Delivery :
                                </p>
                                <div class="col-md-2">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-12 collapse-container">
                    <div class="Main-Outer-Navigationlink">

                        <a class="btn btn-success" href="/Home">
                            <div class="row">
                                <p class="col-md-10">
                                    Submit/ Follow-up request :
                                </p>
                                <div class="col-md-2">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-12 collapse-container">
                    <div class="Main-Outer-Navigationlink">

                        <a class="btn btn-success" location="loc6" href="/Contactus">
                            <div class="row">
                                <p class="col-md-10">
                                    Contact Us :
                                </p>
                                <div class="col-md-2">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-8 content" style="background-color: #fff;">
                <div class="col-md-12 display-1 loc1" style="margin-top:25px;display:none;    background-color: rgb(255, 255, 255);padding: 20px 12px;">
                    <blockquote style="color: #0a1332; font-size: 16px; margin: 0px 0px 50px;">
                        The Service Delivery Sector for the beneficiaries of the IAU University is established under the Beneficiaries Service Center (IAU-BSC) to transfer all deliveries of services provided by the IAU University to a central administrative entity with legal authorities managerial and financial disposition. The IAU-BSC is designed and operated to provide all available services to its potential users along with the collaboration of specific administrative sectors to improve the types and quality of the services and its delivery system as well as to locally and regionally guide and expand the use of the IAU assets and build high capabilities in investment.

                        <br />
                        <br />
                        The IAU-BSC ensures the delivery of the highest levels of service to the IAU affiliated persons and extends these services to cover all residents and expatriates in the eastern region with eased terms and conditions. All procedures will be provided via the IAU-BSC center in the IAU campus or through the IAU-BSC application "Mustafid" that can be reached using its related homepage @@IAU-BSC in the IAU official website, either computer interface or smartphones.
                    </blockquote>
                    @*<p style="color: #0a1332; font-size: 16px; font-weight:bold; text-align:right">
                            Dr. Saleh bin Ali Al-Rashed
                        </p>
                        <p style="color: #0a1332; font-size: 16px;text-align:right;padding-right:30px;">
                            IAU’s Vice-President
                        </p>*@
                </div>
                <div class="col-md-12 New-Idea display-2 loc2" style="display:none;">
                    <div class="AboutIAU p-0 m-0" style="padding-top: 20px; margin:0 !important">
                        <p class="p-0">
                            The interior design of the IAU-BSC setting and operating system of the IAU-BSC are created by the Inclusive Design Unit- Green Design Section (IDU Unit). The IDU Unit adopted a creative problem solving (CPS) approach from pinpointing the vision, mission, and values of the IAU-BSC to the minor design and operational details. The purpose is to identify and expand the prospect of the IAU-BSC to fit the IAU strategic plan aligned with the KSA Vision 2030, reveal fresh perspectives, and discover innovative solutions that convey its message and reach its goals. Accordingly, the IAU-BSC goes beyond its role as a mere service delivery agent to adopt an inclusive approach to principles and appropriate operations to assist the university in achieving its strategic plan as follows:

                        </p>
                        <ol class="orange-color" style="margin:0 8px">
                            <li>To <span class="href">Sustain</span> IAU campus environment</li>
                            <li>
                                To Build a modern institutional <span class="href">administrative system</span>.
                            </li>
                            <li>To Promote <span class="href">social responsibility</span> and community partnership.</li>
                        </ol>
                        <p>
                            Determining and answering the main focusing questions are the first phase of this
                            process :
                        </p>
                        <div class="col-md-12 Objective-count-img">
                            <img src="~/Design/img/Picture4.jpg" style="width:100%;" />
                        </div>
                        <div class="Objective-question">
                            <div class="row">
                                <div class="col-md-4" style="font-weight:bold">
                                    <p style="margin: 0; white-space: nowrap;">
                                        Question 1 :
                                    </p>
                                    <p style="text-align: initial !important;">
                                        who are the stakeholders?
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <ol>
                                        <li>
                                            University affiliated persons
                                            <br />
                                            <span style="margin-left:10px">(Faculty members- Students- Staff- their families)</span>
                                        </li>
                                        <li>
                                            The Eastern Region communities
                                            <br />
                                            <span style="margin-left:10px">(The Saudi and the GCC Communities- The Expatriates)</span>
                                        </li>
                                        <li>
                                            The Administrative and 3rd level Communication
                                            <br />
                                            <span style="margin-left:10px">(The IAU Unified Database)</span>
                                        </li>
                                    </ol>
                                </div>
                                <div class="col-md-4" style="font-weight:bold">
                                    <p style="margin: 0; white-space: nowrap;">
                                        Question 2 :
                                    </p>
                                    <p style="text-align: initial !important;">
                                        What’s in it for each party?
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <ol>
                                        <li>
                                            University affiliated persons
                                            <ul>
                                                <li>Insuring the delivery of current services</li>
                                                <li>
                                                    Updating and improving current ones
                                                </li>
                                                <li>Investing on creating new services</li>
                                            </ul>
                                        </li>
                                        <li>
                                            The Eastern Region communities
                                            <ul>
                                                <li>
                                                    Extending the use of the services to cover the off-campus communities
                                                </li>
                                                <li>
                                                    Privatization of IAU services and amenities
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            The Administrative and 3<sup>rd</sup> level Communication
                                            <ul>
                                                <li>
                                                    Transparency and inclusivity in IAU managerial functional and communicative state
                                                </li>
                                                <li>
                                                    Enrollment of qualified administrative cadres vis-à-vis the IAU strategic plan and 2030 vision
                                                </li>
                                                <li>
                                                    Factual assessment of managerial functional and communicative performance
                                                </li>
                                                <li>
                                                    Minimizing scarcities (misunderstanding, wrong designation, duplication, overruling, etc.)
                                                </li>
                                            </ul>
                                        </li>
                                    </ol>
                                </div>
                                <div class="col-md-4" style="font-weight:bold">
                                    <p style="margin:0; white-space: nowrap;">
                                        Question 3 :
                                    </p>
                                    <p style="text-align: initial !important;">
                                        How can the center reach these goals?
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <ul style="list-style:none">
                                        <li>
                                            Phase 1
                                            <ul>
                                                <li>
                                                    Expanding the use of the IAU Inclusive Database to cover all aspects of managerial communications
                                                </li>
                                                <li>
                                                    Building an operational system for the Center as part of the IAU inclusive Database
                                                </li>
                                                <li>
                                                    More use of technology, less reliance on conventional service- delivery methods
                                                </li>
                                                <li>
                                                    Prepare qualified cadres and decision-makers
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>






                    </div>


                </div>
                <div class="col-md-12 New-Idea loc3" style="display:none;">
                    <div class="vision" style="padding-top: 20px;">
                        <p>
                            The vision and mission of the IAU-BSC are defined in line with the vision of the Kingdom of Saudi Arabia 2030 and the strategic plan of the IAU University, which aims to provide distinguished services to its beneficiaries, to develop prominent competences in service patterns, managerial communication and investment and to sustain governance
                        </p>
                        <ul>
                            <li>
                                <b>Vision</b> High-value services and cutting edge service-delivery system for all.
                            </li>
                            <li>
                                <b>Mission</b> The IAU-BSC Center is a leading directorial and organizational center of the
                                Imam AbdulRahman Bin Faisal University. Its main mission is to guarantee the delivery
                                the available services on its seven campuses. The scope of this mission goes beyond this
                                task to create the administrative and organizational system and to train the professional
                                cadre with the intention to improve and to sustain these services, to create innovative
                                ones and to expand the numbers and sectors of the beneficiaries. The IAU-BCS is thus
                                committed to :
                                <ul>
                                    <li>Providing top-quality sustainable service-delivery services</li>
                                    <li>Training the next generation of professionals to accomplish the center goals</li>
                                    <li>Discovering and implementing operational to expand the service outcomes</li>
                                    <li>Empowering local and regional communities for enhanced quality of life with variation of services in tune with the 2030 vision via awareness, service, research, technology and innovation</li>
                                </ul>
                            </li>
                            <li>
                                <b>Core Values</b> The IAU-BSC has five basic values that underline the commitments in-built
                                in the center’s mission : Integrity, Commitment, Advocacy, Respect, and Excellence. The
                                basic values express the attitude and the performance of the center’s staff and policy.
                                They are tailored for the center staff, collaborators and the IAU community as the
                                foundation for performance assessment, enrolment and our staff training.
                                <br />
                                <ul>
                                    <li>
                                        <b>Reliability :</b> Act with great ethical standards. Abide by the uppermost-specialized procedures. Preserve the expectation and support of all with whom the center engage.
                                    </li>
                                    <li>
                                        <b>Accountability :</b> Work thoroughly to serve the IAU affiliated persons, their families, and other beneficiaries. Be thrusted by the IAU vision and mission and accomplish the organizational responsibilities.
                                    </li>
                                    <li>
                                        <b>Efficiency :</b> Operate in a constructive and competent fashion to accomplish predictable and measurable outcomes. Promote a resilient culture of learning and innovation to successfully meet the evolving needs of the IAU beneficiary and off-campus community.
                                    </li>
                                    <li>
                                        <b>Creativity :</b> Look for the utmost operative answers, adopting innovative tactics and adjusting to existing and future administrative conditions to meet the dynamic and changing needs of the beneficiaries.
                                    </li>
                                    <li>
                                        <b>Advocacy :</b> Be User-centered by distinguishing, entirely allowing for, and properly advancing the interests of potential users and their needs.
                                    </li>
                                    <li>
                                        <b>Recognition :</b> Treat all beneficiaries with dignity and respect.
                                    </li>
                                    <li>
                                        <b>Distinction :</b> Work toward the utmost quality and persistent progress. Be considerate and influential in governance, held responsible for the center’s conducts, willing to assert inaccuracies, and be ardent to adjust them.
                                    </li>
                                    <li>
                                        <b>Build Bridges :</b> Work collaboratively within our organization and with our external partners to ensure the provision of the best possible standards of services and service-delivery.

                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-12 operation-System loc4" style="display:none;">
                    <div class="Scope-of-Services m-0">
                        @*<h3>
                                IAU-BSC Scope of Services and operational system:
                            </h3>*@
                        <h3>Scope of Services:</h3>
                        <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                            According to the IAU Unified Coding System (IAU-UCS), the buildings in IAU campuses are
                            defined by their main activities and labeled by the letter and color defining the activity type
                            and the number of the building. The Campus label serves to locate the buildings and is
                            associated to the official building code to determine its location. Accordingly, the building
                            are classified into seven categories as shown in the figure below:
                        </p>
                        <div class="m-0 p-0">
                            <img src="~/Design/img/picture6.png" style="width:100%;background-color:#fff;margin-bottom:50px" />
                        </div>
                        <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                            Accordingly, the services provided via the IAU-BSC will be classified under three main sectors that define its goals and work plans: 1- The Academic Sector, 2-The Administrative Sector, and 3- The Specialized Services
                        </p>
                        <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                            <ol style="padding: 19px;">
                                <li>
                                    <b>Academic sector</b> provides the required support for curricular and extracurricular academic activities in all colleges and academic departments. These services include academic support services, information and communication technology, workshop equipment, specialized activities, to name a few.
                                </li>
                                <li>
                                    <b> Administrative sector</b> enables all sorts of communication with all administrative sectors for all IAU on-campus and off-campus beneficiaries. The services include operating human resources, facilities, operational and maintenance services, to name a few.
                                </li>
                                <li>
                                    <b>Specialized Services</b> provides IAU affiliated and non-affiliated beneficiaries with all kinds of specialized services that are not included in the academic and administrative sector, including health, sports, housing, training, entertainment. The services are designed to be inclusive and accessible to everyone regardless of their gender, age, abilities and needs.
                                </li>
                            </ol>
                        </p>

                        <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                            As Shown in the figure, the three sectors and their Sub-categories follow the same coding system used in the IAU-UCS, with the exception of the label of the specialized services (S) and the sports sub categories (Sp).
                        </p>
                        <div class="m-0 p-0">
                            <img src="~/Design/img/picture8.png" style="width:100%;background-color:#fff;" />
                        </div>
                    </div>
                    <div class="Reference-Points m-0">
                        <h3>IAU-BSC Reference Points :</h3>
                        <p>
                            The IAU-BSC receives requests and inquiries from off-campus and on-campus beneficiaries either from the Ministry of Education's "Tawasul" website or the IAU University's "Mustafid" application:
                        </p>
                        <ol>
                            <li>
                                Tawasul is the official site of the Ministry of Education's beneficiary service sector and was established as an easy mechanism to communicate with His Excellency, the Minister of Education, the ministry officials, and all other sectors. Tawasul is a secure and reliable communication system for those unaware of the IAU-BSC "Mustafid" application.
                            </li>
                            <li>Mustafid application is designed exclusively for the IAU University to provide its direct and timesaving communication system. Thus, beneficiaries can seek the IAU-BSC directly by filling official online requests on Mustafid or by visiting the center and filling out an in-person application. </li>
                        </ol>
                        <div class="m-0 p-0">
                            <img src="~/Design/img/IAU-BSC ReferencePoints1.png" style="width:100%;background-color:#fff;" />
                        </div>
                        <p>
                            The Mustafid application allows the delivery of requests and inquiries to the university sectors in charge after classifying all sorts of applications according to their types of services and requests. These later are based upon the same six categories found in the Tawasul Site:
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <ol style="color: #c85d32;">
                                    <li>Consultation</li>
                                    <li>Meeting</li>
                                    <li>Complaint</li>
                                </ol>
                            </div>
                            <div class="col-md-6">
                                <ol start="4" style="color: #c85d32;">
                                    <li>Notification</li>
                                    <li>Suggestion</li>
                                    <li>Inquiry</li>
                                </ol>
                            </div>
                        </div>

                    </div>
                    <div style="display: flex; justify-content: center;margin:0!important" class="m-0 p-0">
                        <img src="~/Design/img/picture9.png" style=" max-width: 100%; height: 233px; background-color: #fff;" />
                    </div>
                    <div class="Service-Delivery m-0">
                        <h3>
                            IAU-BSC Operational Service :
                        </h3>
                        <p>
                            The Beneficiary Service Center, its operational system "@@IAU-BSC" and its web and mobile applications "Mustafid" are part of the IAU university's series of projects and initiatives to create inclusive administrative and operational systems that promote the sustainable lifetime of buildings and products as well as the wellbeing and the functional performance of the university community, from their design, simulation, and testing to their ongoing operation and management. The overall project is derived from the IAU Inclusive Database and Unified Coding System and acknowledges the university's interrelated and sequential managerial systems, including their goals, tasks, and expected outcomes that need an organized and unified communication system.
                            <br />
                            <br />

                            Subsequently, a fit-for-purpose semi-lattice information system is developed and tested to assist systemic communication adaptable to connect spatial information cues to other selective types of procedural communication (e.g., managerial communication, Projects and documents filing system, Operating system, Maintenance, and Projects & Public Services, Security & Safety Management). The resulting "Mustafid" system for the IAU-BSC is thus an inclusive approach to information exchange, service delivery, and service level assessment that can be identified, intertwined, be combined, and crossed to different levels of communication complexity depending on the functional purpose of the conversation and activity.

                        </p>
                        <div class="m-0 p-0">
                            <img src="~/Design/img/Picture2.png" style="width:100%;background-color:#fff;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 loc5" style="display:none;">
                    @*<img src="~/Design/img/Picture10.png" style="width:100%;background-color:#fff;" />*@
                    <h3>
                        IAU-BSC Scope of Services and operational system:
                    </h3>
                    <div class="px-3">
                        <p>
                            Each operation is a process of five 5 consecutive stages:
                            <ol style="color: #c85d32;padding:0 50px">
                                <li>Request registration/confirmation</li>
                                <li>
                                    Sorting/Coding and dispatching to IAU
                                    service provider
                                </li>
                                <li>Processing the request at the service provider</li>
                                <li>Dispatching of processed Request</li>
                                <li>Delivery of Processed Request</li>
                            </ol>
                        </p>
                        <p>
                            The following diagram illustrates the procedure applicants must pursue to submit their
                            application, get a tracking number for their orders and follow the operation process
                            until the delivery of the processed request.
                        </p>
                        <div>
                            <img src="~/Design/img/PROCESS.png" style="width:100%;background-color:#fff;" />
                        </div>
                        <h3 style="color: #c85d32;">Stage ONE : Registering/ Confirming Request :</h3>
                        <p class="mx-3">
                            All requests can be submitted online directly via the IAU's Mustafid Website and Application or indirectly via Tawasul Website and Application. Requests can also be submitted in person in the Beneficiary Service Center. The center is located in Gate2- C1 West Campus in Rakkah, where visitors can submit new requests and follow up existing ones via the self-service kiosk and then complete the process with the help of the IAU-BSC teams.

                            <br />
                            <br />
                            Each IAU-BSC front desk staff is in charge of a service sector. Another backup office is in charge of the express and easy-to-deal-with applications process. A copy-center with the necessary equipment is also provided. Thus, upon applying, the beneficiary receives a confirmation via the mobile messages or the email address registered in the request.

                            <br />
                            <br />
                            Upon submitting the request, the applicant receives a confirmation of receipt of the request through a text message via the mobile phone number or email address. The center's staff sorts and encodes the application, then generates a tracking number and sends it to the applicant to track the process through the "Mustafid" application.
                        </p>
                        <h3 style="color: #c85d32;"> Stage TWO : Dispatching to service provider :</h3>
                        <div class="mx-3">
                            <p>
                                After sending the tracking number to the applicant, the IAU-BSC team adopts the administrative procedures required to ensure that the application reaches the correct authority and that the delivery outcomes respond to the applicant's expectations as per the subordination and hierarchy of the administrative levels and the spatial data of the respective administrative level as follows:
                                <ul class="orange-color">
                                    <li>
                                        Linking the functional levels with the unified coding of its spatial and geographical data;
                                    </li>
                                    <li>
                                        Generating a bar code for each functional level.
                                    </li>
                                </ul>
                                <br />
                                Thus, the systematic communication of the university and the activation of its
                                adaptive ability to connect the data vocabulary and spatial inferences with other
                                selective types of information system that serve all other procedural communications
                                are joined. The system of classification and coding of names and functional
                                indications at the university depends on two approaches :
                                <br />
                                <ol>
                                    <li>
                                        Hierarchical classification of the administrative functions into three consecutive
                                        levels of importance :
                                    </li>
                                    <li>
                                        A unified coding designed according to the following :
                                        <ul>
                                            <li>
                                                Linking the functional levels with the unified coding of the spatial and
                                                geographical data used for the wayfinding and navigation system
                                            </li>
                                            <li>
                                                Completing the design of the system in the form of bar code for each
                                                functional level.
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </p>
                            <p>
                                The existing hierarchy of the university's administrative system has four administrative levels, each of which has its related types. The first version of the IAU inclusive coding system classified and encoded the two primary levels. The first level includes the following administrative categories:
                                <br />
                                <ol color="#c85d32;">
                                    <li>University Council</li>
                                    <li>University Rector</li>
                                    <li>
                                        Office of Vice
                                        Precedencies
                                    </li>
                                    <li>University Hospitals.</li>
                                </ol>

                                The second level is related directly to the first functional level and has four main
                                categories :
                                <br />
                                <ol color="#c85d32;">
                                    <li>Deanship</li>
                                    <li>Colleges</li>
                                    <li> Units and Centers</li>
                                    <li>Administrations and Departments</li>
                                </ol>
                                <br />
                                The existing hierarchy of the university's administrative system has four administrative levels, each of which has its related types. The first version of the IAU inclusive coding system classified and encoded the two primary levels. The first level includes the following administrative categories:

                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>LEVEL 3</p>
                                        <table>
                                            <tr style="color:#c85d32;">
                                                <th style="min-width:30px">1</th>
                                                <td>Vice Deanship </td>
                                            </tr>
                                            <tr style="color:#c85d32;">
                                                <th>2</th>
                                                <td> Academic Sections</td>
                                            </tr>
                                            <tr style="color:#c85d32;">
                                                <th>3</th>
                                                <td> Unit/Center</td>
                                            </tr>
                                            <tr style="color:#c85d32;">
                                                <th style="min-width:30px">4</th>
                                                <td> Administrative Dept. /Sections</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <p>LEVEL 4</p>
                                        <table>
                                            <tr style="color:#c85d32;">
                                                <th style="min-width:30px">1</th>
                                                <td> Sub-Vice Deanship</td>
                                            </tr>
                                            <tr style="color:#c85d32;">
                                                <th style="min-width:30px">2</th>
                                                <td>Vice-Academic Sections</td>
                                            </tr>
                                            <tr style="color:#c85d32;">
                                                <th style="min-width:30px">3</th>
                                                <td> Vice- Unit/Center</td>
                                            </tr>
                                            <tr style="color:#c85d32;">
                                                <th style="min-width:30px">4</th>
                                                <td> Sub- Administrative Dept. /Sections</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </p>
                            <div class="m-0 p-0">
                                <img src="~/Design/img/stage 2 administrative level.png" style="width:100%;background-color:#fff;" />
                            </div>
                        </div>
                        <h3 style="color: #c85d32;">Stage THREE : Processing Request :</h3>
                        <p class="mx-3">
                            The tracking number established by the "Mustafid" application ensures the request to be sent to the service provider and effectively tracks the quality and speed of service provision by the center's staff. It also includes the duration of the proposed request and the location of the service.
                        </p>
                        <h3 style="color: #c85d32;">Stage FOUR : Dispatching Processed Request :</h3>
                        <p class="mx-3">

                            Upon completing the order, the applicant shall receive a notification confirming the dispatching process and the means of delivery either electronically or manually at the center.

                        </p>
                        <h3 style="color: #c85d32;">Stage FIVE : Delivering Processed Request</h3>
                        <p class="mx-3">
                            Once the service is delivered, the beneficiary is entitled to write a performance evaluation and return it online. A series of internal performance evaluations for the IAU-BSC and the IAU service providers is also completed periodically and per each transaction to ensure the quality of the service and the service delivery process as follows:
                            <br />
                            to ensure the accuracy of identifying the service provider, i.e., the accuracy of the address, the concerned service provider, and the precise administrative level;
                            <br />
                            <ul class="orange-color">
                                <li>
                                    to resend the application to the accurate agency in case of error transmission to avoid this flaw in the future;
                                </li>
                                <li>
                                    to review the proposed period's adequacy to provide the service with the actual processing time.
                                </li>
                                <li>
                                    to review with the related authority the reasons for the delay and the means to avoid it in the future.
                                </li>
                            </ul>

                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Design/JS/jquery.js"></script>
<script>
    $(".main-page a").click(function () {
        if (document.body.offsetWidth < 767) {
            document.querySelector(".content ." + $(this).attr("location")).parentElement.style.display = "none"

            const elements = document.getElementsByClassName("smallview");
            while (elements.length > 0)
                elements[0].parentNode.removeChild(elements[0]);

            console.log(".content ." + $(this).attr("location"))

            let dd = document.createElement('div')
            dd.style = "background-color: rgb(255, 255, 255); display: block;"
            dd.className = "col-md-8 content smallview"
            let prevobj = document.querySelector(".content ." + $(this).attr("location")).cloneNode(true);
            prevobj.style.display = "block"
            dd.appendChild(prevobj)
            this.parentElement.parentElement.insertAdjacentHTML('afterend', dd.outerHTML)
        }
        else {
            document.querySelector(".content ." + $(this).attr("location")).parentElement.style.display = "block"

            $(".content .active").hide();
            $(".content .active").removeClass("active");

            $(".content ." + $(this).attr("location")).fadeIn();
            $(".content ." + $(this).attr("location")).addClass("active");
        }
        $(".main-page a").removeClass("active");
        $(this).addClass("active");
    });

    $(document).ready(() => {
        if (document.body.offsetWidth < 767) {
            document.querySelector(".content .loc1").parentElement.style.display = "none"

            const elements = document.getElementsByClassName("smallview");
            while (elements.length > 0)
                elements[0].parentNode.removeChild(elements[0]);

            console.log(".content .loc1")

            let dd = document.createElement('div')
            dd.style = "background-color: rgb(255, 255, 255); display: block;"
            dd.className = "col-md-8 content smallview"
            let prevobj = document.querySelector(".content .loc1").cloneNode(true);
            prevobj.style.display = "block"
            dd.appendChild(prevobj)
            document.querySelector('[location="loc1"]').parentElement.parentElement.insertAdjacentHTML('afterend', dd.outerHTML)
        }
        else {
            document.querySelector(".content .loc1").parentElement.style.display = "block"

            $(".content .active").hide();
            $(".content .active").removeClass("active");

            $(".content .loc1").fadeIn();
            $(".content .loc1").addClass("active");
        }
        $(".main-page a").removeClass("active");
        $('[location="loc1"]').addClass("active");
    })

</script>
