
@{
    ViewBag.Title = "IAU-BSC | Main";
}
<div class="main-page">
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-12 collapse-container">
                <a class="btn btn-success" location="loc1">
                    <div class="row">
                        <p class="col-md-10">
                            ACKNOWLEDGMENT
                        </p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12 display-1 mob-loc1" style="margin-top:25px;display:none">
                <blockquote style="color: #0a1332; font-size: 16px; margin: 0px 0px 50px; font-weight: 400;">
                    "A special message of gratitude goes to His Excellency Dr. Abdullah AlRubaish, The
                    President of Imam AbdulRahman bin Faisal University for his enthusiasm and belief in
                    the mission and vision of the Inclusive Design Unit as well as his endless support and
                    constructive contribution to all the IDU activities and projects.
                    <br />
                    <br />
                    His encouragement and guidance- throughout all phases of this present work enabled the IDU team to accomplish it successfully along with the rest of IDU projects
                    in the University Campuses"
                </blockquote>
                <p style="color: #0a1332; font-size: 16px; font-weight:bold; text-align:right">
                    Dr. Saleh bin Ali Al-Rashed
                </p>
                <p style="color: #0a1332; font-size: 16px;text-align:right;padding-right:30px;">
                    IAU’s Vice-President
                </p>
            </div>

            <div class="col-md-12 collapse-container">
                <a class="btn btn-success" location="loc2">
                    <div class="row">
                        <p class="col-md-10">
                            ABOUT THE IDU-GREEN DESIGN
                        </p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12 display-2 mob-loc2" style="display:none;">
                <div class="col-md-12 " style="padding:10px;">
                    <div>
                        <img src="~/Design/img/picture1.jpg" style="float: right; margin: 5px 20px 20px; width: 370px;" />
                    </div>
                    <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                        The Beneficiary Service Center and its operational system are designed by the Inclusive Design Unit Office of the Vice-President. The Inclusive Design Unit is a full-service unit for Design Innovation and Design consultancy devoted to creating inclusive and sustainable academic settings, systems, and services. The IDU team aims to create inclusive systems that promote the sustainable lifetime of buildings and products, from their design, simulation, and testing to their ongoing operation and management. These inclusive systems include environment interventions and assistive technologies that are sustainable, incorporated, and universally design. The IDU- Green Design Branch is one of the four subunits of the IDU with the goal to obtain LEED certification under the Existing Buildings: Neighborhood Development + Operations and Maintenance rating system.
                        The present Initiative for the inclusive and green delivery of the IAU services and systems is derived from the IAU Inclusive Database and Unified Coding System, a leading project established and run under the IDU-Green Design branch. The goal of this project is to design a sustainable and integrated database for IAU managerial purposes.  The system is based on the same comprehensive “geo-functionalist” approach adopted in the other IDU branches and related projects. The IAU database acknowledges that organizations consist of sets of overlapping systems that are in need of an organized and unified communication system.
                    </p>
                </div>
                <div class="col-md-12" style="margin-top:15px;padding:10px;">
                    <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                        Subsequently, a fit-for-purpose semi-lattice information system is developed and tested to assist systemic communication adaptable not only to enable navigation behavior of outdoor and indoor settings but also to connect spatial information cues to other selective types of procedural communication (e.g., managerial communication, Projects and documents filing system, Operating system, Maintenance, and Projects & Public Services, Security & Safety Management). The resulting system is thus a sub-division of the overall Information delivery approach that- when mainly referred to as its spatial derivation- can be identified, intertwine, be combined, and cross to different levels of communication complexity depending on the functional purpose of the environmental conversation.
                    </p>
                    <div>
                        <img src="~/Design/img/picture2.png" style="width:100%;background-color:#fff;" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 collapse-container">
                <a class="btn btn-success" location="loc3">
                    <div class="row">
                        <p class="col-md-10">
                            @@IAU-BSC NEW ANSWERS, NEW IDEAS, NEW OPPORTUNITIES
                        </p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12 New-Idea mob-loc3" style="display:none;">
                <div class="overview">
                    <h3>1.1 OverView :</h3>
                    <p>
                        This present section gives the reader as much information as possible in the basics of operating the @@IAU-BSC service center; however, there will be areas where more information or clarity on specific issues is needed.
                    </p>
                    <p>
                        The design proposal and operational system adopts a creative problem solving (CPS) approach from the pinpointing of the greater vision, mission vision of the Center to the smallest design and operational details. This enables the IDU team to identify and expand the prospects of the center, to relate it to the  IAU strategic plan aligned with the KSA Vision 2030, to reveal fresh perspectives and to discover innovative solutions for this center so that it conveys its message and reaches its goals.
                    </p>
                    <p>
                        Accordingly, the @@IAU-BSC, goes beyond its role as a mere service delivery agent to adopt an inclusive approach to principles and appropriate operations to assist the university in achieving its strategic plan.
                    </p>
                    <p>
                        The @@IAU-BSC center’s activities, policies and practices must reflect university regulatory principles, policies and Practices. These principles will be called IAU regulations throughout the manual.
                    </p>
                </div>
                <div class="AboutIAU">
                    <h3>1.2 About the @@IAU-BSC :</h3>
                    <p>
                        The Service Delivery Sector for the beneficiaries of the IAU University is established under the name of the Beneficiaries Service Center (@@IAU-BSC), with the intention to transfer all deliveries of services provided by the IAU University to a central administrative entity with legal authorities as well as managerial and financial disposition
                    </p>
                    <p>
                        The @@IAU-BSC is designed and operated to provide all available services to its potential users. Two allied units will be established to improve the types and quality of the services and its delivery system as well as to locally and regionally guide and expand the use of the IAU assets and build high capabilities in investment.
                    </p>
                    <p>
                        The @@IAU-BSC ensure the delivery of the highest levels of service to the IAU affiliated persons and extend the use of these services to cover all legitimate habitants in the eastern region with eased terms and conditions.
                    </p>
                    <p>
                        All procedures will be provided via the @@IAU-BSC center in the IAU campus or through the @@IAU-BSC application that can be reached using its related homepage @@IAU-BSC in the IAU official website using either computer interface or smartphones.
                    </p>
                </div>

                <div class="Objective">
                    <h3>1.3 The Objectives Behind the IAU-BSC :</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                As Shown in the figure, the present proposal initially seeks to comply with 3  IAU strategic goals that are aligned with with the KSA Vision 2030 :
                            </p>
                        </div>
                        <div class="col-md-6">
                            <ol>
                                <li>To <u>Sustain</u> IAU campus environment</li>
                                <li>
                                    To Build a modern institutional <u>administrative</u> system.
                                </li>
                                <li>To Promote <u>social responsibility</u> and community partnership.</li>
                            </ol>
                        </div>
                        <div class="col-md-12">
                            <img src="~/Design/img/Picture3.png" style="width:100%;" />
                        </div>
                        <div class="col-md-12 Objective-count-p">
                            <p>
                                As previously mentioned, a creative problem solving (CPS) approach has been adopted, from the early design stages to the detailing features of the suggested design proposal and operational system adopts, in order to reconsider the role of the IAU-BSC Center from a mere service delivery agent into a strong and effective sector that assists the university in achieving its strategic plan. Determining and answering the main focusing questions are the first phase of this process:
                            </p>
                        </div>
                        <div class="col-md-12 Objective-count-img">
                            <p>@@IDU-BSC FOCUSING QUESTIONS</p>
                            <img src="~/Design/img/Picture4.jpg" style="width:100%;" />
                        </div>
                        <div class="Objective-question row">
                            <div class="col-md-4">
                                <p>
                                    Question 1:
                                </p>
                                <p>
                                    who are the stakeholders?
                                </p>
                            </div>
                            <div class="col-md-8">
                                <ol>
                                    <li>
                                        University affiliated persons
                                        (Faculty members- Students- Staff- their families)
                                    </li>
                                    <li>
                                        The Eastern Region communities
                                        (The Saudi and the GCC Communities- The Expatriates)
                                    </li>
                                    <li>
                                        The Administrative and 3rd level Communication
                                        (The IAU Unified Database)
                                    </li>
                                </ol>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Question 2:
                                </p>
                                <p>
                                    What’s in it for each party?
                                </p>
                            </div>
                            <div class="col-md-8">
                                <ol>
                                    <li>
                                        University affiliated persons
                                        <ul>
                                            <li>Insuring the delivery of current services</li>
                                            <li>
                                                Updating and improving current ones
                                            </li>
                                            <li>Investing on creating new services</li>
                                        </ul>
                                    </li>
                                    <li>
                                        The Eastern Region communities
                                        <ul>
                                            <li>
                                                Extending the use of the services to cover the off-campus communities
                                            </li>
                                            <li>
                                                Privatization of IAU services and amenities
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        The Administrative and 3 rd level Communication
                                        <ul>
                                            <li>
                                                Transparency and inclusivity in IAU managerial functional and communicative state
                                            </li>
                                            <li>
                                                Enrollment of qualified administrative cadres vis-à-vis the IAU strategic plan and 2030 vision
                                            </li>
                                            <li>
                                                Factual assessment of managerial functional and communicative performance
                                            </li>
                                            <li>
                                                Minimizing scarcities (misunderstanding, wrong designation, duplication, overruling, etc.)
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Question 3:
                                </p>
                                <p>
                                    How can the center reach these goals?
                                </p>
                            </div>
                            <div class="col-md-8">
                                <ol>
                                    <li>
                                        Phase 1
                                        <ul>
                                            <li>
                                                Expanding the use of the IAU Inclusive Database to cover all aspects of managerial communications
                                            </li>
                                            <li>
                                                Building an operational system for the Center as part of the IAU inclusive Database
                                            </li>
                                            <li>
                                                More use of technology, less reliance on conventional service- delivery methods
                                            </li>
                                            <li>
                                                Prepare qualified cadres and decision-makers
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vision">
                    <h3>1.4 Vision, Mission and Values :</h3>
                    <p>
                        The vision and mission of the IAU-BSC are defined in line with the vision of the Kingdom of Saudi Arabia 2030 and the strategic plan of the IAU University, which aims to provide distinguished services to its beneficiaries, to develop prominent competences in service patterns, managerial communication and investment and to sustain governance
                    </p>
                    <ul>
                        <li>
                            <b>Vision</b> High-value services and cutting edge service-delivery system for all.
                        </li>
                        <li>
                            <b>Mission</b> The IAU-BSC Center is a leading directorial and organizational center of the
                            Imam AbdulRahman Bin Faisal University. Its main mission is to guarantee the delivery
                            the available services on its seven campuses. The scope of this mission goes beyond this
                            task to create the administrative and organizational system and to train the professional
                            cadre with the intention to improve and to sustain these services, to create innovative
                            ones and to expand the numbers and sectors of the beneficiaries. The IAU-BCS is thus
                            committed to:
                            <ul>
                                <li>Providing top-quality sustainable service-delivery services</li>
                                <li>Training the next generation of professionals to accomplish the center goals</li>
                                <li>Discovering and implementing operational to expand the service outcomes</li>
                                <li>Empowering local and regional communities for enhanced quality of life with variation of services in tune with the 2030 vision via awareness, service, research, technology and innovation</li>
                            </ul>
                        </li>
                        <li>
                            <b>Core Values</b> The IAU-BSC has five basic values that underline the commitments in-built
                            in the center’s mission: Integrity, Commitment, Advocacy, Respect, and Excellence. The
                            basic values express the attitude and the performance of the center’s staff and policy.
                            They are tailored for the center staff, collaborators and the IAU community as the
                            foundation for performance assessment, enrolment and our staff training.
                        </li>
                        <li>
                            <b>Mission-cont.</b> The IAU-BCS is thus committed to:
                            <ul>
                                <li>Providing top-quality sustainable service-delivery services</li>
                                <li>Training the next generation of professionals to accomplish the center goals</li>
                                <li>Discovering and implementing operational to expand the service outcomes</li>
                                <li>Empowering local and regional communities for enhanced quality of life with variation of services in tune with the 2030 vision via awareness, service, research, technology and innovation</li>
                            </ul>
                        </li>
                        <li>
                            <b>Core Values</b> The IAU-BSC has five basic values that underline the commitments in-built in the center’s mission: Integrity, Commitment, Advocacy, Respect, and Excellence. The basic values express the attitude and the performance of the center’s staff and policy. They are tailored for the center staff, collaborators and the IAU community as the foundation for performance assessment, enrolment and our staff training.

                        </li>
                        <li>
                            <b>Core Values-cont.</b> The IAU-BCS core values are:
                            <ul>
                                <li>
                                    <b>Reliability:</b> Act with great ethical standards. Abide by the uppermost-specialized procedures. Preserve the expectation and support of all with whom the center engage.
                                </li>
                                <li>
                                    <b>Accountability:</b> Work thoroughly to serve the IAU affiliated persons, their families, and other beneficiaries. Be thrusted by the IAU vision and mission and accomplish the organizational responsibilities.
                                </li>
                                <li>
                                    <b>Efficiency:</b> Operate in a constructive and competent fashion to accomplish predictable and measurable outcomes. Promote a resilient culture of learning and innovation to successfully meet the evolving needs of the IAU beneficiary and off-campus community.
                                </li>
                                <li>
                                    <b>Creativity:</b> Look for the utmost operative answers, adopting innovative tactics and adjusting to existing and future administrative conditions to meet the dynamic and changing needs of the beneficiaries.
                                </li>
                                <li>
                                    <b>Advocacy:</b> Be User-centered by distinguishing, entirely allowing for, and properly advancing the interests of potential users and their needs.
                                </li>
                                <li>
                                    <b>Recognition:</b> Treat all beneficiaries with dignity and respect.
                                </li>
                                <li>
                                    <b>Distinction:</b> Work toward the utmost quality and persistent progress. Be considerate and influential in governance, held responsible for the center’s conducts, willing to assert inaccuracies, and be ardent to adjust them.
                                </li>
                                <li>
                                    <b>Build Bridges:</b> Work collaboratively within our organization and with our external partners to ensure the provision of the best possible standards of services and service-delivery.

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="Information-System">
                    <h3>
                        1.5 IAU-BSC Principles of Information System
                    </h3>
                    <p>
                        Incorporated Information System:
                    </p>
                    <ul>
                        <li>
                            A platform or language for the digital and hard communication;
                        </li>
                        <li>Hierarchical and Integrated information system according to the IAU-UCS</li>
                        <li>Spatially connect and reinforce the existing and potential properties of the university</li>
                    </ul>
                    <p>
                        Universally Designed Information System
                    </p>
                    <ul>
                        <li>All design attributes are designed in compliance with the ADA Accessibility guidelines and the Universal off-campus and on- campus user-centered experience</li>
                        <li>A user-friendly system: Easy to understand, locate, easy to approach and easy to use</li>
                        <li>A simple, clear and easily communicated methodology for communication</li>
                        <li>Easily accessible and easy-to-use interface  regardless their personal characteristics and functional abilities</li>
                    </ul>
                    <p>
                        Sustainable Information System
                    </p>
                    <div class="row">
                        <div class="col-md-7" style="text-align:justify">
                            <ul>
                                <li>
                                    A sustainable system in relation to material, energy saving and costs
                                </li>
                                <li>
                                    Consider technology to enhance the system When possible
                                </li>
                                <li>
                                    Develop a kit of parts for maximum changeability to accommodate phased implementation and future growth of institution.
                                </li>
                                <li>
                                    Intentional flexibility considering the non-static and changeable nature of services types and service Delivery system as regarded to their location (i.e.,
                                </li>
                                <li>
                                    the numbers of buildings, facilities) and the administrative Level in charge of providing the services
                                <li>
                                    A nature that require reconfiguration of information and their coding system
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <img src="~/Design/img/Picture5.png" style="width:100%;position:relative;top:20%;" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 collapse-container">
                <a class="btn btn-success" location="loc4">
                    <div class="row">
                        <p class="col-md-10">@@IAU-BSC OPERATIONAL SYSTEM</p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12 operation-System mob-loc4" style="display:none;">
                <div class="Scope-of-Services">
                    <h3>2.1 The IAU-BSC Scope of Services :</h3>
                    <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                        Subsequently, a fit-for-purpose semi-lattice information system is developed and tested to assist systemic communication adaptable not only to enable navigation behavior of outdoor and indoor settings but also to connect spatial information cues to other selective types of procedural communication (e.g., managerial communication, Projects and documents filing system, Operating system, Maintenance, and Projects & Public Services, Security & Safety Management). The resulting system is thus a sub-division of the overall Information delivery approach that- when mainly referred to as its spatial derivation- can be identified, intertwine, be combined, and cross to different levels of communication complexity depending on the functional purpose of the environmental conversation.
                    </p>
                    <div>
                        <img src="~/Design/img/picture6.png" style="width:100%;background-color:#fff;margin-bottom:50px" />
                        <img src="~/Design/img/picture7.jpg" style="width:100%;background-color:#fff;" />
                    </div>
                    <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                        Accordingly, the services provided via the IAU-BSC will be classified under three main sectors that define its goals and work plans:
                        <ol>
                            <li>
                                <b>Academic sector</b> provides the required support for curricular and extracurricular academic activities in all colleges and academic departments. These services include academic support services, information and communication technology, workshop equipment, specialized activities, to name a few.
                            </li>
                            <li>
                                <b> Administrative sector</b> enables all sorts of communication with all administrative sectors for all IAU on-campus and off-campus beneficiaries. The services include operating human resources, facilities, operational and maintenance services, to name a few.
                            </li>
                            <li>
                                <b>Specialized Services</b> provides IAU affiliated and non-affiliated beneficiaries with all kinds of specialized services that are not included in the academic and administrative sector, including health, sports, housing, training, entertainment. The services are designed to be inclusive and accessible to everyone regardless of their gender, age, abilities and needs.
                            </li>
                        </ol>
                    </p>

                    <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                        As Shown in the figure, the three sectors and their Sub-categories follow the same coding system used in the IAU-UCS, with the exception of the label of the specialized services (S) and the sports sub categories (Sp).
                    </p>
                    <div>
                        <img src="~/Design/img/picture8.png" style="width:100%;background-color:#fff;" />
                    </div>
                </div>
                <div class="Reference-Points">
                    <h3>2.2 The IAU-BSC Reference Points :</h3>
                    <p>
                        The center receives requests and inquiries from off-campus beneficiaries and on-campus users from the Tawasul website approved by the Ministry of Education. Tawasul was established as an easy mechanism to communicate with His Excellency the Minister of Education, Ministry officials and all sectors.
                    </p>
                    <p>
                        Tawasul is a secure and reliable communication system for those who are unaware of the university communication and service delivery system. Yet, the center provides its direct and timesaving communication system.
                    </p>
                    <p>
                        Thus, beneficiaries can seek the center directly either by filling online official requests on the official website of the center @@IAU-BSC or by visiting the center and filling out an in-person application.
                    </p>
                    <p>
                        This service enables the submission of suggestions, inquiries, complaints and others, to ensure that they arrive from the service of an effective electronic system, and the service enables all beneficiaries to track their posts electronically.
                    </p>
                    <p>
                        Using both ministerial and university communication channels, the IAU-BSC information system allows the delivery of requests and inquiries to the sector in charge after classifying all sorts of applications under the same six categories found in the Tawasul Site:


                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <ol>
                                <li>Consultation</li>
                                <li>Meeting</li>
                                <li>Complaint</li>
                            </ol>
                        </div>
                        <div class="col-md-6">
                            <ol start="4">
                                <li>Notification</li>
                                <li>Suggestion</li>
                                <li>Inquiry</li>
                            </ol>
                        </div>
                    </div>
                    <div>
                        <img src="~/Design/img/picture9.png" style="width:100%;background-color:#fff;" />
                    </div>
                </div>
                <div class="Service-Delivery">
                    <h3>2.3 The IAU-BSC Stages of Service Delivery :</h3>

                    <p>
                        Each operation is a process of five 5 consecutive stages:
                        <ol style="color: #c85d32">
                            <li>Request registration/confirmation</li>
                            <li>Sorting/Coding</li>
                            <li>Request Processing</li>
                            <li>Dispatching of processed Request</li>
                            <li>Delivery of Processed Request</li>
                        </ol>
                    </p>
                    <p>
                        The applicant can track the process through the electronic application using the tracking number. The interface of the application should enable the administration of the center to track the efficiency in administrative communication, service delivery and level using the geo-temporal attributes listed in the tracking number and to insert notes and comments that will be used in further analysis and assessment processes.
                    </p>
                    <p>
                        Thus, upon the arrival of the application, the staff of the University's IAU-BSC Center will adopt the approved procedures to classify the application according to its nature, coding and delivery to the body responsible for providing the service and finally responding to the applicant.
                    </p>
                </div>
            </div>
            <div class="col-md-12 collapse-container">
                <a class="btn btn-success" location="loc5">
                    <div class="row">
                        <p class="col-md-10">
                            @@IDU-BSC Organizational Structure Chart
                        </p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12 mob-loc5" style="display:none;">
                <img src="~/Design/img/Picture10.png" style="width:100%;background-color:#fff;" />
            </div>
            <div class="col-md-12 collapse-container">
                <a class="btn btn-success" location="loc6">
                    <div class="row">
                        <p class="col-md-10">
                            CONTACT
                        </p>
                        <div class="col-md-2">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-8 content" style="background-color: #fff; margin-top: 6px;">
            <div class="col-md-12 display-1 loc1" style="margin-top:25px;display:none">
                <blockquote style="color: #0a1332; font-size: 16px; margin: 0px 0px 50px;">
                    "A special message of gratitude goes to His Excellency Dr. Abdullah AlRubaish, The
                    President of Imam AbdulRahman bin Faisal University for his enthusiasm and belief in
                    the mission and vision of the Inclusive Design Unit as well as his endless support and
                    constructive contribution to all the IDU activities and projects.
                    <br />
                    <br />
                    His encouragement and guidance- throughout all phases of this present work enabled the IDU team to accomplish it successfully along with the rest of IDU projects
                    in the University Campuses"
                </blockquote>
                <p style="color: #0a1332; font-size: 16px; font-weight:bold; text-align:right">
                    Dr. Saleh bin Ali Al-Rashed
                </p>
                <p style="color: #0a1332; font-size: 16px;text-align:right;padding-right:30px;">
                    IAU’s Vice-President
                </p>
            </div>
            <div class="col-md-12 display-2 loc2" style="display:none;">
                <div class="col-md-12 " style="padding:10px;">
                    <div>
                        <img src="~/Design/img/picture1.jpg" style="float: right; margin: 5px 20px 20px; width: 370px;" />
                    </div>
                    <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                        The Beneficiary Service Center and its operational system are designed by the Inclusive Design Unit Office of the Vice-President. The Inclusive Design Unit is a full-service unit for Design Innovation and Design consultancy devoted to creating inclusive and sustainable academic settings, systems, and services. The IDU team aims to create inclusive systems that promote the sustainable lifetime of buildings and products, from their design, simulation, and testing to their ongoing operation and management. These inclusive systems include environment interventions and assistive technologies that are sustainable, incorporated, and universally design. The IDU- Green Design Branch is one of the four subunits of the IDU with the goal to obtain LEED certification under the Existing Buildings: Neighborhood Development + Operations and Maintenance rating system.
                        The present Initiative for the inclusive and green delivery of the IAU services and systems is derived from the IAU Inclusive Database and Unified Coding System, a leading project established and run under the IDU-Green Design branch. The goal of this project is to design a sustainable and integrated database for IAU managerial purposes.  The system is based on the same comprehensive “geo-functionalist” approach adopted in the other IDU branches and related projects. The IAU database acknowledges that organizations consist of sets of overlapping systems that are in need of an organized and unified communication system.
                    </p>
                </div>
                <div class="col-md-12" style="margin-top:15px;padding:10px;">
                    <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                        Subsequently, a fit-for-purpose semi-lattice information system is developed and tested to assist systemic communication adaptable not only to enable navigation behavior of outdoor and indoor settings but also to connect spatial information cues to other selective types of procedural communication (e.g., managerial communication, Projects and documents filing system, Operating system, Maintenance, and Projects & Public Services, Security & Safety Management). The resulting system is thus a sub-division of the overall Information delivery approach that- when mainly referred to as its spatial derivation- can be identified, intertwine, be combined, and cross to different levels of communication complexity depending on the functional purpose of the environmental conversation.
                    </p>
                    <div>
                        <img src="~/Design/img/picture2.png" style="width:100%;background-color:#fff;" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 New-Idea loc3" style="display:none;">
                <div class="overview">
                    <h3>1.1 OverView :</h3>
                    <p>
                        This present section gives the reader as much information as possible in the basics of operating the @@IAU-BSC service center; however, there will be areas where more information or clarity on specific issues is needed.
                    </p>
                    <p>
                        The design proposal and operational system adopts a creative problem solving (CPS) approach from the pinpointing of the greater vision, mission vision of the Center to the smallest design and operational details. This enables the IDU team to identify and expand the prospects of the center, to relate it to the  IAU strategic plan aligned with the KSA Vision 2030, to reveal fresh perspectives and to discover innovative solutions for this center so that it conveys its message and reaches its goals.
                    </p>
                    <p>
                        Accordingly, the @@IAU-BSC, goes beyond its role as a mere service delivery agent to adopt an inclusive approach to principles and appropriate operations to assist the university in achieving its strategic plan.
                    </p>
                    <p>
                        The @@IAU-BSC center’s activities, policies and practices must reflect university regulatory principles, policies and Practices. These principles will be called IAU regulations throughout the manual.
                    </p>
                </div>
                <div class="AboutIAU">
                    <h3>1.2 About the @@IAU-BSC :</h3>
                    <p>
                        The Service Delivery Sector for the beneficiaries of the IAU University is established under the name of the Beneficiaries Service Center (@@IAU-BSC), with the intention to transfer all deliveries of services provided by the IAU University to a central administrative entity with legal authorities as well as managerial and financial disposition
                    </p>
                    <p>
                        The @@IAU-BSC is designed and operated to provide all available services to its potential users. Two allied units will be established to improve the types and quality of the services and its delivery system as well as to locally and regionally guide and expand the use of the IAU assets and build high capabilities in investment.
                    </p>
                    <p>
                        The @@IAU-BSC ensure the delivery of the highest levels of service to the IAU affiliated persons and extend the use of these services to cover all legitimate habitants in the eastern region with eased terms and conditions.
                    </p>
                    <p>
                        All procedures will be provided via the @@IAU-BSC center in the IAU campus or through the @@IAU-BSC application that can be reached using its related homepage @@IAU-BSC in the IAU official website using either computer interface or smartphones.
                    </p>
                </div>

                <div class="Objective">
                    <h3>1.3 The Objectives Behind the IAU-BSC :</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                As Shown in the figure, the present proposal initially seeks to comply with 3  IAU strategic goals that are aligned with with the KSA Vision 2030 :
                            </p>
                        </div>
                        <div class="col-md-6">
                            <ol>
                                <li>To <u>Sustain</u> IAU campus environment</li>
                                <li>
                                    To Build a modern institutional <u>administrative</u> system.
                                </li>
                                <li>To Promote <u>social responsibility</u> and community partnership.</li>
                            </ol>
                        </div>
                        <div class="col-md-12">
                            <img src="~/Design/img/Picture3.png" style="width:100%;" />
                        </div>
                        <div class="col-md-12 Objective-count-p">
                            <p>
                                As previously mentioned, a creative problem solving (CPS) approach has been adopted, from the early design stages to the detailing features of the suggested design proposal and operational system adopts, in order to reconsider the role of the IAU-BSC Center from a mere service delivery agent into a strong and effective sector that assists the university in achieving its strategic plan. Determining and answering the main focusing questions are the first phase of this process:
                            </p>
                        </div>
                        <div class="col-md-12 Objective-count-img">
                            <p>@@IDU-BSC FOCUSING QUESTIONS</p>
                            <img src="~/Design/img/Picture4.jpg" style="width:100%;" />
                        </div>
                        <div class="Objective-question row">
                            <div class="col-md-4">
                                <p>
                                    Question 1:
                                </p>
                                <p>
                                    who are the stakeholders?
                                </p>
                            </div>
                            <div class="col-md-8">
                                <ol>
                                    <li>
                                        University affiliated persons
                                        (Faculty members- Students- Staff- their families)
                                    </li>
                                    <li>
                                        The Eastern Region communities
                                        (The Saudi and the GCC Communities- The Expatriates)
                                    </li>
                                    <li>
                                        The Administrative and 3rd level Communication
                                        (The IAU Unified Database)
                                    </li>
                                </ol>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Question 2:
                                </p>
                                <p>
                                    What’s in it for each party?
                                </p>
                            </div>
                            <div class="col-md-8">
                                <ol>
                                    <li>
                                        University affiliated persons
                                        <ul>
                                            <li>Insuring the delivery of current services</li>
                                            <li>
                                                Updating and improving current ones
                                            </li>
                                            <li>Investing on creating new services</li>
                                        </ul>
                                    </li>
                                    <li>
                                        The Eastern Region communities
                                        <ul>
                                            <li>
                                                Extending the use of the services to cover the off-campus communities
                                            </li>
                                            <li>
                                                Privatization of IAU services and amenities
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        The Administrative and 3 rd level Communication
                                        <ul>
                                            <li>
                                                Transparency and inclusivity in IAU managerial functional and communicative state
                                            </li>
                                            <li>
                                                Enrollment of qualified administrative cadres vis-à-vis the IAU strategic plan and 2030 vision
                                            </li>
                                            <li>
                                                Factual assessment of managerial functional and communicative performance
                                            </li>
                                            <li>
                                                Minimizing scarcities (misunderstanding, wrong designation, duplication, overruling, etc.)
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Question 3:
                                </p>
                                <p>
                                    How can the center reach these goals?
                                </p>
                            </div>
                            <div class="col-md-8">
                                <ol>
                                    <li>
                                        Phase 1
                                        <ul>
                                            <li>
                                                Expanding the use of the IAU Inclusive Database to cover all aspects of managerial communications
                                            </li>
                                            <li>
                                                Building an operational system for the Center as part of the IAU inclusive Database
                                            </li>
                                            <li>
                                                More use of technology, less reliance on conventional service- delivery methods
                                            </li>
                                            <li>
                                                Prepare qualified cadres and decision-makers
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vision">
                    <h3>1.4 Vision, Mission and Values :</h3>
                    <p>
                        The vision and mission of the IAU-BSC are defined in line with the vision of the Kingdom of Saudi Arabia 2030 and the strategic plan of the IAU University, which aims to provide distinguished services to its beneficiaries, to develop prominent competences in service patterns, managerial communication and investment and to sustain governance
                    </p>
                    <ul>
                        <li>
                            <b>Vision</b> High-value services and cutting edge service-delivery system for all.
                        </li>
                        <li>
                            <b>Mission</b> The IAU-BSC Center is a leading directorial and organizational center of the
                            Imam AbdulRahman Bin Faisal University. Its main mission is to guarantee the delivery
                            the available services on its seven campuses. The scope of this mission goes beyond this
                            task to create the administrative and organizational system and to train the professional
                            cadre with the intention to improve and to sustain these services, to create innovative
                            ones and to expand the numbers and sectors of the beneficiaries. The IAU-BCS is thus
                            committed to:
                            <ul>
                                <li>Providing top-quality sustainable service-delivery services</li>
                                <li>Training the next generation of professionals to accomplish the center goals</li>
                                <li>Discovering and implementing operational to expand the service outcomes</li>
                                <li>Empowering local and regional communities for enhanced quality of life with variation of services in tune with the 2030 vision via awareness, service, research, technology and innovation</li>
                            </ul>
                        </li>
                        <li>
                            <b>Core Values</b> The IAU-BSC has five basic values that underline the commitments in-built
                            in the center’s mission: Integrity, Commitment, Advocacy, Respect, and Excellence. The
                            basic values express the attitude and the performance of the center’s staff and policy.
                            They are tailored for the center staff, collaborators and the IAU community as the
                            foundation for performance assessment, enrolment and our staff training.
                        </li>
                        <li>
                            <b>Mission-cont.</b> The IAU-BCS is thus committed to:
                            <ul>
                                <li>Providing top-quality sustainable service-delivery services</li>
                                <li>Training the next generation of professionals to accomplish the center goals</li>
                                <li>Discovering and implementing operational to expand the service outcomes</li>
                                <li>Empowering local and regional communities for enhanced quality of life with variation of services in tune with the 2030 vision via awareness, service, research, technology and innovation</li>
                            </ul>
                        </li>
                        <li>
                            <b>Core Values</b> The IAU-BSC has five basic values that underline the commitments in-built in the center’s mission: Integrity, Commitment, Advocacy, Respect, and Excellence. The basic values express the attitude and the performance of the center’s staff and policy. They are tailored for the center staff, collaborators and the IAU community as the foundation for performance assessment, enrolment and our staff training.

                        </li>
                        <li>
                            <b>Core Values-cont.</b> The IAU-BCS core values are:
                            <ul>
                                <li>
                                    <b>Reliability:</b> Act with great ethical standards. Abide by the uppermost-specialized procedures. Preserve the expectation and support of all with whom the center engage.
                                </li>
                                <li>
                                    <b>Accountability:</b> Work thoroughly to serve the IAU affiliated persons, their families, and other beneficiaries. Be thrusted by the IAU vision and mission and accomplish the organizational responsibilities.
                                </li>
                                <li>
                                    <b>Efficiency:</b> Operate in a constructive and competent fashion to accomplish predictable and measurable outcomes. Promote a resilient culture of learning and innovation to successfully meet the evolving needs of the IAU beneficiary and off-campus community.
                                </li>
                                <li>
                                    <b>Creativity:</b> Look for the utmost operative answers, adopting innovative tactics and adjusting to existing and future administrative conditions to meet the dynamic and changing needs of the beneficiaries.
                                </li>
                                <li>
                                    <b>Advocacy:</b> Be User-centered by distinguishing, entirely allowing for, and properly advancing the interests of potential users and their needs.
                                </li>
                                <li>
                                    <b>Recognition:</b> Treat all beneficiaries with dignity and respect.
                                </li>
                                <li>
                                    <b>Distinction:</b> Work toward the utmost quality and persistent progress. Be considerate and influential in governance, held responsible for the center’s conducts, willing to assert inaccuracies, and be ardent to adjust them.
                                </li>
                                <li>
                                    <b>Build Bridges:</b> Work collaboratively within our organization and with our external partners to ensure the provision of the best possible standards of services and service-delivery.

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="Information-System">
                    <h3>
                        1.5 IAU-BSC Principles of Information System
                    </h3>
                    <p>
                        Incorporated Information System:
                    </p>
                    <ul>
                        <li>
                            A platform or language for the digital and hard communication;
                        </li>
                        <li>Hierarchical and Integrated information system according to the IAU-UCS</li>
                        <li>Spatially connect and reinforce the existing and potential properties of the university</li>
                    </ul>
                    <p>
                        Universally Designed Information System
                    </p>
                    <ul>
                        <li>All design attributes are designed in compliance with the ADA Accessibility guidelines and the Universal off-campus and on- campus user-centered experience</li>
                        <li>A user-friendly system: Easy to understand, locate, easy to approach and easy to use</li>
                        <li>A simple, clear and easily communicated methodology for communication</li>
                        <li>Easily accessible and easy-to-use interface  regardless their personal characteristics and functional abilities</li>
                    </ul>
                    <p>
                        Sustainable Information System
                    </p>
                    <div class="row">
                        <div class="col-md-7" style="text-align:justify">
                            <ul>
                                <li>
                                    A sustainable system in relation to material, energy saving and costs
                                </li>
                                <li>
                                    Consider technology to enhance the system When possible
                                </li>
                                <li>
                                    Develop a kit of parts for maximum changeability to accommodate phased implementation and future growth of institution.
                                </li>
                                <li>
                                    Intentional flexibility considering the non-static and changeable nature of services types and service Delivery system as regarded to their location (i.e.,
                                </li>
                                <li>
                                    the numbers of buildings, facilities) and the administrative Level in charge of providing the services
                                <li>
                                    A nature that require reconfiguration of information and their coding system
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <img src="~/Design/img/Picture5.png" style="width:100%;position:relative;top:20%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 operation-System loc4" style="display:none;">
                <div class="Scope-of-Services">
                    <h3>2.1 The IAU-BSC Scope of Services :</h3>
                    <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                        Subsequently, a fit-for-purpose semi-lattice information system is developed and tested to assist systemic communication adaptable not only to enable navigation behavior of outdoor and indoor settings but also to connect spatial information cues to other selective types of procedural communication (e.g., managerial communication, Projects and documents filing system, Operating system, Maintenance, and Projects & Public Services, Security & Safety Management). The resulting system is thus a sub-division of the overall Information delivery approach that- when mainly referred to as its spatial derivation- can be identified, intertwine, be combined, and cross to different levels of communication complexity depending on the functional purpose of the environmental conversation.
                    </p>
                    <div>
                        <img src="~/Design/img/picture6.png" style="width:100%;background-color:#fff;margin-bottom:50px" />
                        <img src="~/Design/img/picture7.jpg" style="width:100%;background-color:#fff;" />
                    </div>
                    <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                        Accordingly, the services provided via the IAU-BSC will be classified under three main sectors that define its goals and work plans:
                        <ol>
                            <li>
                                <b>Academic sector</b> provides the required support for curricular and extracurricular academic activities in all colleges and academic departments. These services include academic support services, information and communication technology, workshop equipment, specialized activities, to name a few.
                            </li>
                            <li>
                                <b> Administrative sector</b> enables all sorts of communication with all administrative sectors for all IAU on-campus and off-campus beneficiaries. The services include operating human resources, facilities, operational and maintenance services, to name a few.
                            </li>
                            <li>
                                <b>Specialized Services</b> provides IAU affiliated and non-affiliated beneficiaries with all kinds of specialized services that are not included in the academic and administrative sector, including health, sports, housing, training, entertainment. The services are designed to be inclusive and accessible to everyone regardless of their gender, age, abilities and needs.
                            </li>
                        </ol>
                    </p>

                    <p style="color: #0a1332; font-size: 16px; text-align: justify; letter-spacing: 0.3px;">
                        As Shown in the figure, the three sectors and their Sub-categories follow the same coding system used in the IAU-UCS, with the exception of the label of the specialized services (S) and the sports sub categories (Sp).
                    </p>
                    <div>
                        <img src="~/Design/img/picture8.png" style="width:100%;background-color:#fff;" />
                    </div>
                </div>
                <div class="Reference-Points">
                    <h3>2.2 The IAU-BSC Reference Points :</h3>
                    <p>
                        The center receives requests and inquiries from off-campus beneficiaries and on-campus users from the Tawasul website approved by the Ministry of Education. Tawasul was established as an easy mechanism to communicate with His Excellency the Minister of Education, Ministry officials and all sectors.
                    </p>
                    <p>
                        Tawasul is a secure and reliable communication system for those who are unaware of the university communication and service delivery system. Yet, the center provides its direct and timesaving communication system.
                    </p>
                    <p>
                        Thus, beneficiaries can seek the center directly either by filling online official requests on the official website of the center @@IAU-BSC or by visiting the center and filling out an in-person application.
                    </p>
                    <p>
                        This service enables the submission of suggestions, inquiries, complaints and others, to ensure that they arrive from the service of an effective electronic system, and the service enables all beneficiaries to track their posts electronically.
                    </p>
                    <p>
                        Using both ministerial and university communication channels, the IAU-BSC information system allows the delivery of requests and inquiries to the sector in charge after classifying all sorts of applications under the same six categories found in the Tawasul Site:


                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <ol>
                                <li>Consultation</li>
                                <li>Meeting</li>
                                <li>Complaint</li>
                            </ol>
                        </div>
                        <div class="col-md-6">
                            <ol start="4">
                                <li>Notification</li>
                                <li>Suggestion</li>
                                <li>Inquiry</li>
                            </ol>
                        </div>
                    </div>
                    <div>
                        <img src="~/Design/img/picture9.png" style="width:100%;background-color:#fff;" />
                    </div>
                </div>
                <div class="Service-Delivery">
                    <h3>2.3 The IAU-BSC Stages of Service Delivery :</h3>

                    <p>
                        Each operation is a process of five 5 consecutive stages:
                        <ol style="color: #c85d32">
                            <li>Request registration/confirmation</li>
                            <li>Sorting/Coding</li>
                            <li>Request Processing</li>
                            <li>Dispatching of processed Request</li>
                            <li>Delivery of Processed Request</li>
                        </ol>
                    </p>
                    <p>
                        The applicant can track the process through the electronic application using the tracking number. The interface of the application should enable the administration of the center to track the efficiency in administrative communication, service delivery and level using the geo-temporal attributes listed in the tracking number and to insert notes and comments that will be used in further analysis and assessment processes.
                    </p>
                    <p>
                        Thus, upon the arrival of the application, the staff of the University's IAU-BSC Center will adopt the approved procedures to classify the application according to its nature, coding and delivery to the body responsible for providing the service and finally responding to the applicant.
                    </p>
                </div>
            </div>
            <div class="col-md-12 loc5" style="display:none;">
                <img src="~/Design/img/Picture10.png" style="width:100%;background-color:#fff;" />
            </div>
        </div>
    </div>
</div>
<script src="~/Design/JS/jquery.js"></script>
<script>
    $(".main-page a").click(function () {
        if (document.body.offsetWidth > 767) {
            $(".content .active").hide();
            $(".content .active").removeClass("active");

            $(".content ." + $(this).attr("location")).fadeIn();
            $(".content ." + $(this).attr("location")).addClass("active");
            $(".main-page a").removeClass("active");
            $(this).addClass("active");

        } else {
            $(" .active").fadeOut();
            $(" .active").removeClass("active");
            $(".mob-" + $(this).attr("location")).fadeIn();
            $(".mob-" + $(this).attr("location")).addClass("active");
            $(".main-page a").removeClass("active");
            $(this).addClass("active");
        }
    })
</script>