@font-face {
	font-family: 'Frutiger LT Arabic 55 Roman';
	font-style: normal;
	font-weight: normal;
	src: local('Frutiger LT Arabic 55 Roman'), url('../webfonts/FrutigerLTArabic55Roman.woff') format('woff');
}

body {
	font-family: 'Frutiger LT Arabic 55 Roman';
}
.vision {
	text-align: right !important;
}