@model IAUAdmin.DTO.Entity.UnitTypeDTO
@{
	ViewBag.Title = "Create Type";
	ViewBag.pTitle = "Create Type";
	ViewBag.pageTitle = "Unit Types";
	ViewBag.arTitle = "اضافة نوع";
	ViewBag.arpTitle = "اضافة نوع";
	ViewBag.arpageTitle = "أنواع الوحدات";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<style>
	span.select2 {
		width: 100% !important
	}
</style>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">

				<h4 key="t-basicInfo" class="card-title">Basic Information</h4>
				<p key="t-fillrequired" class="card-title-desc">Fill all information below</p>

				@using (Html.BeginForm("Create", "UnitTypes"))
				{
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label key="t-name" for="name">Name</label>
								@Html.TextBoxFor(q => q.Units_Type_Name_AR, new { @class = "form-control", @name = "name", @id = "name", @required = "true" })
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label key="t-enname" for="enname">Mobile</label>
								@Html.TextBoxFor(q => q.Units_Type_Name_EN, new { @class = "form-control", @name = "enname", @id = "enname", @required = "true" })
							</div>
						</div>
					</div>
					<button type="submit" key="t-save" class="btn btn-primary mr-1 waves-effect waves-light">Save Changes</button>
					@Html.ActionLink("Cancel", "Home", "UnitTypes", null, new { @class = "btn btn-secondary waves-effect", @key = "t-cancel" })
				}

			</div>
		</div>

	</div>
</div>
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>
