@model IAUAdmin.DTO.Entity.ServiceTypeDTO
@{
	ViewBag.Title = "Edit Type";
	ViewBag.pTitle = "Edit Type";
	ViewBag.pageTitle = "Service Types";
	ViewBag.arTitle = "تعديل نوع";
	ViewBag.arpageTitle = "تعديل نوع";
	ViewBag.arpTitle = "أنواع الخدمات";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<style>


	label.control-label::after {
		content: ":";
	}

	label.control-label {
		font-weight: bold;
	}
</style>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title" key="t-basicInfo">Basic Information</h4>

				@using (Html.BeginForm("Edit", "ServiceTypes", new { Id = Model.Service_Type_ID }, FormMethod.Post))
				{
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" key="t-name" for="name">User Name</label>
								@Html.TextBoxFor(q => q.Service_Type_Name_AR, new { @id = "name", @class = "form-control ar-font" })
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" key="t-enname" for="enname">EnName</label>
								@Html.TextBoxFor(q => q.Service_Type_Name_EN, new { @id = "enname", @class = "form-control en-font" })
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary mr-1 waves-effect waves-light" key="t-save">Save Changes</button>
					@Html.ActionLink("Cancel", "Home", "ServiceTypes", null, new { @class = "btn btn-secondary waves-effect", @key = "t-cancel" })
				}
			</div>
		</div>
	</div>
</div>
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>
