<footer class="footer" style="z-index:555;width:auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 en-font" style="direction:ltr !important">
                <script>document.write(new Date().getFullYear())</script> © UramIT.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block ar-font">
                    جامعة الامام عبد الرحمن بن فيصل
                </div>
            </div>
        </div>
    </div>
</footer>

